.featured-section {
	background-color: $white;
	@include media('above-tablet') {
		padding: 64px 0;
	}
	@include media('below-tablet') {
		padding: 32px 0;
	}
}

.featured-section__subheading {
	@extend %uppercase;
	color: $blue;
	margin-bottom: 16px;
	font-weight: $weight-b;
}

.featured-section__heading {
	@extend %font-m-20;
	line-height: 1.35em;
	margin-bottom: 16px;
	@include media('below-tablet') {
		font-size: 1.1em;
	}
}

.featured-section__note {
	@extend %font-m-14;
}

.featured-section__btn {
	@extend %block;
	@extend %full-width;
	@include media('above-desktop') {
		&:hover {
			.featured-section__icon {
				opacity: 1;
			}
		}
	}
}

.featured-section__img {
	@extend %position-relative;
	@extend %full-width;
	@extend %background-cover;
	padding-top: 66%;
	&:before {
		@extend %position-absolute;
		@extend %full-width;
		@extend %full-height;
		content: '';
		top: 0;
		left: 0;
		background-color: rgba($main-color, 0.2);
	}
}

.featured-section__icon {
	@extend %position-absolute;
	color: $white;
	font-size: 40px;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	opacity: 0.8;
	transition: opacity 0.3s;
}
