.main-section {
	@extend %background-cover;
	@extend %position-relative;
	@extend %full-width;
	@include media('above-tablet') {
		padding: 64px 0;
	}
	@include media('below-tablet') {
		padding: 32px 0;
	}
	&.main-section--with-overflow {
		overflow: visible;
	}
}

.main-section--big {
	@extend %flex-center;
	text-align: center;
	@include media('above-tablet') {
		min-height: 450px;
	}
}

.main-section--no-pd-top {
	padding-top: 0;
}

.main-section--s {
	padding: 32px 0;
}

.main-section--white {
	background-color: $white;
	&+.main-section--white {
		padding-top: 0;
	}
}

.main-section--green {
	background-color: $main-color;
	&+.main-section--green {
		padding-top: 0;
	}
}

.main-section--gray {
	background-color: $gray-0;
	&+.main-section--gray {
		padding-top: 0;
	}
}

.main-section--gray-darker {
	background-color: $gray-1;
	&+.main-section--gray-darker {
		padding-top: 0;
	}
}

.main-section--blue-gray {
	background-color: $blue-gray-light;
	&+.main-section--blue-gray {
		padding-top: 0;
	}
}

.main-section--cta {
	padding: 24px 0 32px;
	@include media('below-tablet') {
		padding: 16px 0;
		& + .main-section {
			padding-top: 0;
		}
	}
}

.main-section--gradient {
	background: linear-gradient(180deg, $gray-1 0%, rgba($white, 0) 100%);
	&.js-expand {
		overflow: visible;
		&:before {
			@extend %position-absolute;
			top: -20px;
			left: calc(50% - 10px);
			content: '';
			width: 0;
			height: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid $gray-1;
		}
	}
}
.main-section--gradient-2 {
	background: linear-gradient(180deg, $white 50%, $gray-1 100%);
}

.main-section--ocean {
	background: linear-gradient(90deg, $blue 30%, $sub-color 120%);
	.main-section__heading,
	.main-section__paragraph {
		font-family: $base-font;
	}
}

.main-section--bg {
	background-size: cover;
}

.main-section--overflow {
	overflow: initial;
}

.main-section__block {
	@extend %lost-clear;
	@extend %last-no-margin;
	margin-bottom: 56px;
	@include media('below-tablet') {
		margin-bottom: 32px;
	}
}

.main-section__flex-block {
	@extend %last-no-margin;
	@extend %flex-between;
	@include media('above-small') {
		margin-bottom: 56px;
	}
	@include media('below-small') {
		margin-bottom:24px;
	}
	@include media('below-tablet') {
		flex-direction: column;
	}
}

.main-section__page-heading {
	@include font($base-font, $weight-l, 3.125em);
}

.main-section__subheading {
	@extend %uppercase;
	@extend %last-no-margin;
	font-weight: $weight-b;
	margin-bottom: 16px;
	color: $white;
}

.main-section__heading {
	@extend %last-no-margin;
	@extend %text--center;
	@include media('above-tablet') {
		@include font($base-font, $weight-b, 1.75em);
		margin-bottom: 32px;
	}
	@include media('below-tablet') {
		@include font($base-font, $weight-b, 1.2em);
		margin-bottom: 16px;
	}
	&.main-section__heading--margin-s {
		margin-bottom: 16px;
	}
	&.main-section__heading--white {
		color: $white;
	}
	&.main-section__heading--left {
		@extend %text--left;
	}
	&.main-section__heading--no-margin {
		margin-bottom: 0;
		@include media('below-tablet') {
			margin-bottom: 16px;
		}
	}
	&.main-section__heading--s {
		@extend %font-m-18;
		margin-bottom: 16px;
	}
	&.main-section__heading--l {
		font-size: 2em;
		margin-bottom: 24px;
		@include media('below-mobile') {
			font-size: 1.4em;
		}
	}
	&.main-section__heading--light {
		font-weight: $weight-l;
	}
	b {
		font-weight: $weight-b;
	}
	&.main-section__heading--normal {
		font-weight: $weight-m;
	}
}

.main-section__paragraph {
	// Can NOT add last-no-margin
	@extend %text--center;
	@include media('above-tablet') {
		margin-bottom: 32px;
		font-size: 1.125em;
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
		font-size: 1em;
	}
	&.main-section__paragraph--no-margin {
		margin-bottom: 0;
	}
	&.main-section__paragraph--margin-s {
		margin-bottom: 16px;
	}
	&.main-section__paragraph--white {
		color: $white;
	}
	&.main-section__paragraph--s {
		font-size: 1em;
	}
	&.main-section__paragraph--xs {
		@extend %font-m-14;
	}
	&.main-section__paragraph--left {
		@extend %text--left;
	}
}

.main-section__note {
	@extend %block;
	@extend %last-no-margin;
	margin-bottom: 16px;
}

.main-section__numlist {
	@extend %font-m-14;
	margin: 16px 0;

	&.main-section__numlist--indent {
		padding-left: 16px;
		font-weight: $weight-b;
	}
	&.main-section__numlist--xtr-margin {
		margin-bottom: 40px;
	}

	.main-section__numlist-item {
		@extend %last-no-margin;
		display: flex;
		margin-bottom: 8px;
	}
	.main-section__numlist-num {
		flex-basis: 1.5%;
	}
	.main-section__numlist-text {
		flex-basis: 99%;
		margin-left: 8px;
	}
}

.main-section__filter-heading {
	margin-bottom: 16px;
	@include media('above-tablet') {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&.main-section__filter-heading--l {
		margin-bottom: 32px;
	}
	.main-section__heading {
		margin-bottom: 0;
		@include media('below-tablet') {
			margin-bottom: 16px;
		}
	}
}

.main-section__filter-result-block {
	@extend %flex;
	align-items: center;
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.main-section__filter-result {
	color: $gray-3;
}

.main-section__filter-divided {
	margin: 0 8px;
	color: $gray-3;
}

.main-section__filter-trigger {
	@extend %inline--middle;
	color: $green;
}

.main-section__filter-icon {
	margin-left: 8px;
	font-size: 8px;
	transform: translateY(-2px);
	.main-section__heading {
		margin-bottom: 0;
		span {
			font-size: 16px;
			color: $gray-4;
			margin-left: 16px;
			font-weight: $weight-m;
		}
	}
}

.main-section__result-heading {
	color: $gray-4;
	@include media('above-tablet') {
		margin-top: 16px;
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}
