.side-section {
	@extend %lost-clear;
	@extend %last-no-margin;
	margin-bottom: 32px;
	&.side-section--side-only {
		padding: 24px;
	}
	&:not(.-flex) {
		.side-section__main {
			@include media('above-desktop') {
				lost-column: 4/5;
			}
			@include media('below-desktop') {
				lost-column: 3/4;
			}
			@include media('below-small') {
				lost-column: 5/7;
			}
			@include media('below-tablet') {
				lost-column: 1/1;
				margin-bottom: 24px;
			}
			> .arrow-btn {
				margin-bottom: 16px;
			}
		}

		.side-section__side {
			@include media('above-desktop') {
				lost-column: 1/5;
			}
			@include media('below-desktop') {
				lost-column: 1/4;
			}
			@include media('below-small') {
				lost-column: 2/7;
			}
			@include media('below-tablet') {
				lost-column: 1/1;
			}

		}
	}
	&.-flex {
		@extend %flex-between;
		align-items: stretch;
		@include media('below-tablet') {
			flex-direction: column;
		}
		.side-section__main {
			flex-grow: 1;
			margin-right: 24px;
			@include media('below-tablet') {
				margin-right: 0;
				margin-bottom: 24px;
			}
			.shadow-block {
				height: 100%;
			}
		}
		.side-section__side {
			flex: 0 0 265px;
		}
		&.-single {
			justify-content: flex-start;
			@include media('below-tablet') {
				margin-bottom: 0;
			}
			.side-section__main {
				width: calc(100% - 289px);
				flex-grow: 0;
				@include media('below-small') {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
	&.-no-margin {
		margin-bottom: 0;
	}
}

.side-section__side {
	&.-bg-white {
		background-color: white;
		padding: 24px;
		@include media('below-tablet') {
			padding: 16px;
		}
	}
	.js-save-tag {
		margin-bottom: 24px;
	}
}

.side-section__left {
	lost-column: 1/6;
	& .arrow-btn {
		margin-bottom: 40px;
	}
}

.side-section__right {
	lost-column: 5/6;
}

.side-section__list {
	@include media('below-mobile') {
		display: flex;
		justify-content: space-between;
	}
}

.side-section__item {
	@extend %last-no-margin;
	margin-bottom: 32px;
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
	@include media('below-mobile') {
		display: inline-block;
	}
	& .simple-icon-btn__text {
		@extend %font-m-14;
	}
}

.side-section__heading {
	@extend %font-b-14;
	margin-bottom: 8px;
}

.side-section__side-block {
	@extend %last-no-margin;
	margin-bottom: 24px;
}

.side-section__side-link {
	.ie-browser & {
		display: block;
	}
	&:not(.-normal) {
		@extend %font-b-14;
		margin-bottom: 8px;
	}
	&.-normal {
		color: $black;
		@include media('above-desktop') {
			&:hover {
				color: rgba($main-color, 0.8);
			}
		}
	}
}

.side-section__paragraph {
	@extend %font-m-14;
}

.side-section__wrap {
	border-top: 1px solid $gray-2;
	padding: 24px 0;
	&:first-child {
		padding-top: 0;
		border-top: none;
	}
}

.side-section__subheading {
	@extend %font-m-14;
	margin-bottom: 8px;
}
