.tab-section {
	@extend %position-relative;
	.tab-section__underline {
		left: 16px;
	}
}

.tab-section__heading {
	@extend %font-b-18;
  margin-bottom: 16px;
}

.tab-section__filter-heading {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 16px;
	.tab-section__heading {
		margin-bottom: 0;
		span {
			@extend %font-b-18;
			color: $gray-4;
			margin-left: 16px;
			font-weight: $weight-m;
		}
	}
}

.tab-section__subheading {
	margin-bottom: 24px;
	color: $gray-4;
}

.tab-section__top {
	@extend %full-width;
	@extend %position-relative;
	backface-visibility: hidden;
	background-color: $white;
	box-shadow: 0 0 3px 3px rgba($black, 0.07);
	@include media('below-desktop') {
		.arrow-btn {
			padding: 16px 0;
		}
	}
	@include media('below-tablet') {
		.arrow-btn {
			display: none;
		}
	}
	&.is-active {
		@extend %position-fixed;
		top: 0;
		left: 0;
		z-index: 10;
		@include media('below-desktop') {
			top: $header-mobile;
		}
		& + .tab-section__body {
			margin-top: 51px;
		}
	}
	&.tab-section__top--light-shadow {
		box-shadow: 0 2px 3px 0 rgba($black, 0.05);
	}
	.container {
		@include media('below-tablet') {
			overflow-x: auto;
		}
	}
}

.tab-section__cta {
	padding: 8px 0;
	background-color: $gray-1;
	@include media('below-tablet') {
		padding: 16px 0;
	}
	.arrow-btn {
		display: flex;
		align-items: center;
		@include media('below-tablet') {
			.arrow-btn__text {
				font-size: 1rem;
			}
		}
	}
	@include media('above-tablet') {
		display: none;
	}
}

.tab-section__tabs {
	@extend %inline--middle;

	@include media('below-tablet') {
		overflow-x: scroll;
		white-space: nowrap;
	}
}

.tab-section__tab {
	@extend %inline--middle;
	@extend %text--center;
	@include media('above-tablet') {
		min-width: 140px;
	}
	@include media('below-small') {
		min-width: 100px;
	}
	@include media('below-tablet') {
		padding: 0 16px;
	}
	@include media('below-mobile') {
		font-size: 0.875em;
		min-width: 0;
		padding: 0 8px 0 0;
	}
}

.tab-section__long-tabs {
	@extend %inline--middle;
	@extend %full-width;
	@extend %flex-between;
	@include media('below-tablet') {
		overflow-x: scroll;
		white-space: nowrap;
		margin-bottom: 16px;
	}
}

.tab-section__long-tab {
	@extend %text--center;

	@include media('below-tablet') {
		padding: 0 8px;
	}
}

.tab-section__btn {
	@extend %position-relative;
	@extend %full-width;
	text-align: center;
	padding: 24px 0;
	line-height: normal;
	color: $gray-6;
	@include media('below-tablet') {
		padding: 16px 0;
		&.is-active {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 4px;
				background: $main-color;
				transition: .3s ease;
			}
		}
	}
}

.tab-section__underline {
	position: absolute;
	height: 4px;
	bottom: 0;
	left: 0;
	background: $main-color;
	transition: .3s ease;

	@include media('below-tablet') {
		display: none;
	}
}

.tab-section__btn-fill {
	@extend %position-relative;
	text-transform: capitalize;
	line-height: normal;
	transition: all 0.3s;
	color: $gray-6;
	@include media('above-tablet') {
		padding: 24px 16px;
	}
	@include media('below-tablet') {
		width: 100%;
		padding: 16px 4px;
		text-align: center;
	}
	&.is-active {
		background-color: $main-color;
		color: $white;
		&:hover {
			color: $white;
		}
	}
	@include media('above-desktop') {
		&:hover {
			color: $main-color;
		}
	}
}


.tab-section__body {
	background-color: $blue-gray-light;
	padding: 48px 0;
}

.tab-section__body--white {
	background-color: $white;
	padding: 48px 0;
	@include media('below-tablet') {
		padding: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
}

.tab-section__body--light-gray {
	background-color: $gray-0;
	padding: 48px 0;
}

.tab-section__main {
	display: none;
	&.is-active {
		display: block;
	}
}

.tab-section__accordion-btn {
	@extend %text--right;
	@extend %font-m-14;
	transition: color 0.3s;
	@include media('above-desktop') {
		&:hover {
			color: rgba($main-color, 0.6);
		}
	}
	cursor: pointer;
	margin-bottom: 24px;
}

.tab-section__scroll {
	overflow-x: hidden;
	.tab-section__underline {
		left: 12px;
	}
	.tab-section__tabs {
		position: relative;
		display: flex;
		width: auto;
	}
	.tab-section__tab {
		flex: 0 0 auto;
		min-width: 0;
		padding: 0 12px;
	}
	.tab-section__btn {
		color: $gray-4;
		&.is-active {
			color: $default-color;
		}
	}
}

.tab-section__scroll-btn {
	@extend %position-absolute;
	top: 0;
	display: flex;
	align-items: center;
	height: 100%;
	width: 55px;
	transition: opacity 0.3s;
	&.btn-hide {
		opacity: 0;
		pointer-events: none;
	}
	&--left {
		left: 16px;
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );/* IE6-9 */
	}
	&--right {
		right: 16px;
		justify-content: flex-end;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	}
}
