.c-text-carousel {
	@include c-side-arrow(c-text-carousel);
	@include media('above-desktop') {
		&:hover {
			.c-text-carousel__btn {
				opacity: 1;
			}
		}
	}
	.slick-slide {
    height: auto;
  }
}

.c-text-carousel__slide {
	@extend %text--center;
}

.c-text-carousel__comma {
	font-size: 32px;
	color: $blue;
	margin-bottom: 32px;
	@include media('below-tablet') {
		margin-bottom: 24px;
	}
}

.c-text-carousel__heading {
	@extend %last-no-margin;
	@extend %font-m-22;
	color: $gray-6;
	line-height: 1.3em;
	margin-bottom: 56px;
	@include media('below-tablet') {
		margin-bottom: 32px;
	}
}

.c-text-carousel__btm {
	h4 {
		@extend %uppercase;
		@extend %font-b-14;
		color: $blue;
		margin-bottom: 8px;
	}
	span {
		@extend %block;
		color: $gray-6;
	}
}

.c-text-carousel__icon {
	@extend %c-arrow-icon;
	color: $gray-3;
}
