.inline-img-carousel {
	@include c-side-arrow(inline-img-carousel);
	@include media('above-desktop') {
		&:hover {
			.inline-img-carousel__btn {
				opacity: 1;
			}
		}
	}
	.slick-track {
		pointer-events: none;
	}
	.slick-list {
		overflow: visible;
	}
}

.inline-img-carousel__wrap {
	z-index: 5;
	&.slick-initialized .slick-slide {
		display: flex;
		@include media('below-tablet') {
			flex-direction: column;
		}
	}
}

.inline-img-carousel__slide {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	@include media('above-tablet') {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 24px;
	}
	@include media('below-tablet') {
		padding: 0;
	}
	&.slick-current {
		pointer-events: auto;
		opacity: 1;
	}
}

.inline-img-carousel__img-wrap {
	@extend %position-relative;

	@include media('below-desktop') {
		transform: translateX(15%);
	}
	@include media('below-tablet') {
		transform: translateX(0);
	}
	@include media('above-tablet') {
		width: 40%;
	}
	@include media('below-tablet') {
		width: 75%;
		margin: 0 auto 16px;
	}
}

.inline-img-carousel__container {
	@include media('above-tablet') {
		width: 50%;
	}
	@include media('below-tablet') {
		width: 100%;
		margin-bottom: 16px;
	}
}

.inline-img-carousel__heading {
	@extend %font-b-30;
	color: $main-color;
	margin-bottom: 24px;
}

.inline-img-carousel__paragraph {
	margin-bottom: 24px;
}

.inline-img-carousel__icon {
	@extend %c-arrow-icon;
}

.inline-img-carousel__dots {
	@extend %c-dots;
	.slick-dots > li {
		margin: 0 16px;
	}
}
