.step-carousel {
	@extend %position-relative;
	@extend %full-height;
	lost-column: 1/3;
	.slick-slide {
    height: auto;
  }
	@include media('below-small') {
		lost-column: 1/1;
		margin-bottom: 32px;
	}
	@include media('below-tablet') {
		margin-bottom: 0;
	}
}

.step-carousel__slide {
	@extend %lost-clear;
	.border-btn {
		@extend %last-no-margin;
		text-transform: none;
		margin-bottom: 16px;
		&.border-btn--full {
			@extend %text--left;
			padding: 12px 24px;
		}
	}
}

.step-carousel__heading {
	font-size: 1.5em;
	font-weight: $weight-b;
	margin-bottom: 8px;
	@include media('below-tablet') {
		text-align: center;
	}
}

.step-carousel__paragraph {
	@extend %last-no-margin;
	@extend %font-m-18;
	margin-bottom: 24px;
	@include media('below-tablet') {
		font-size: 1em;
	}
}

.step-carousel__current-step {
	margin-bottom: 16px;
	@include media('below-tablet') {
		text-align: center;
	}
	span {
		@extend %inline--middle;
		@extend %font-m-14;
		padding: 0 4px;
		&:first-child {
			padding: 0 8px 0 0;
			border-right: 1px solid $default-color;
		}
		b {
			font-weight: $weight-b;
		}
	}
}

.step-carousel__btns {
	@extend %position-absolute;
	bottom: 0;
	left: 0;
	@include media('below-small') {
		position: relative;
		margin-top: 32px;
	}
	@include media('below-tablet') {
		margin-top: 16px;
	}
}

.step-carousel__m-image {
	margin: 24px 0;
	display: none;
	@include media('below-tablet') {
		display: block;
	}
}

.step-carousel__btn {
	@include bg-hover($main-color);
	padding: 24px;
	&:nth-child(2) {
		transform: translateX(-4px);
		&:before {
			@extend %position-absolute;
			top: 9px;
			left: 0;
			height: calc(100% - 18px);
			width: 1px;
			background-color: rgba($white, 0.6);
			content: ''
		}
	}
	@include media('below-tablet') {
		padding: 16px;
	}
}

.step-carousel__icon {
	font-size: 24px;
	color: $white;
}

.step-carousel__btn--disable {
	background-color: $gray-4;
	pointer-events: none;
	@include media('above-desktop') {
		&:hover {
			background-color: $gray-4;
		}
	}
}
