.address-block {
  @extend %full-width;
  height: 290px;
  &:not(.address-block--add) {
    @extend %w-shadow-block;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-top: 5px solid $main-color;
	}
	@include media('below-small') {
		padding: 16px;
	}
}

.address-block--add {
  background-color: $white-light;
  border: 1px dashed $gray-2;
  .address-block__trigger {
    @extend %full-width;
    @extend %full-height;
    @extend %flex-center;
    @include media('above-desktop') {
			&:hover {
        .address-block__icon {
          color: $main-color
        }
      }
		}
  }
  .address-block__icon {
    font-size: 27px;
    color: $gray-3;
    transition: color 0.3s;
  }
}

.address-block__container {
  flex-grow: 1;
}

.address-block__heading {
  @extend %font-m-18;
  & + button {
    @include text-hover($main-color);
  }
}

.address-block__subheading {
	@extend %font-b-14;
  margin: 16px 0;
	color: $blue-gray;
	@include media('below-small') {
		margin: 4px 0;
	}
}

.address-block__paragraph {
  @extend %font-m-14;
}
