.alphabets-bar {
  background-color: $gray-0;
	@include media('above-tablet') {
		padding: 40px 0 16px 0;
		margin-top: -48px;
	}
	@include media('below-tablet') {
		padding: 16px 0;
	}
}

.alphabets-bar__list {
	@extend %flex-between;
	@include media('below-tablet') {
		overflow-x: auto;
	}
}

.alphabets-bar__item {
  @extend %font-b-22;
	color: $main-color;
	@include media('below-tablet') {
		flex: 0 0  50px;
	}
}

.alphabets-bar__link {
  cursor: pointer;
  transition: color 0.3s;
  @include media('above-desktop') {
    &:hover {
      color: rgba($main-color, 0.8)
    }
  }
}

.alphabets-bar__item--disable {
  color: $gray-3;
}

.alphabet-lists {
  border-bottom: 1px solid $gray-2;
	@include media('above-tablet') {
		padding: 40px 0;
	}
	@include media('below-tablet') {
		padding: 24px 0;
	}
  &:last-child {
    border-bottom: 0;
  }
}

.alphabet-lists__heading {
	font-weight: $weight-l;
	font-size:  2em;
	text-indent: 2px;
	@include media('above-tablet') {
		margin-bottom: 24px;
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.alphabet-list {
  margin-bottom: 16px;
	&.alphabet-list--no-margin {
		margin-bottom: 0;
	}
  @include media('above-desktop') {
    &:hover {
      .alphabet-list__title {
        color: rgba($main-color, 0.8)
      }
    }
  }
}

.alphabet-list__title {
  @extend %font-m-22;
  color: $main-color;
  margin-bottom: 4px;
  transition: color 0.3s;
}

.alphabet-list__text {
  @extend %font-m-18;
  color: $gray-5;
}

