.event-block {
	@extend %w-shadow-block;
	@extend %last-no-margin;
	background-color: $white;
	margin-bottom: 24px;
	padding: 24px;
	@include media('above-tablet') {
		display: flex;
		align-items: center;
	}
	@include media('below-tablet') {
		padding: 16px;
	}
}

.event-block__img {
	width: 100%;
	@include media('above-tablet') {
		max-width: 240px;
		margin-right: 24px;
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.event-block__container {
	@include media('above-tablet') {
		width: calc(100% - 265px);
	}
}

.event-block__heading {
	@extend %font-b-22;
	border-bottom: 1px solid $gray-2;
	padding-bottom: 8px;
	margin-bottom: 16px;
}

.event-block__contents {
	display: flex;
	@include media('above-tablet') {
		align-items: flex-end;
	}
	@include media('below-tablet') {
		flex-direction: column;
		justify-content: center;
	}
}

.event-block__list {
	flex-grow: 1;
	@include media('above-tablet') {
		max-width: calc(100% - 104px);
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.event-block__item {
	@extend %last-no-margin;
	display: flex;
	margin-bottom: 8px;
}

.event-block__list-heading {
	@extend %font-b-14;
	flex: 0 0 100px;
	margin-right: 8px;
	@include media('below-tablet') {
		flex: 0 0 80px;
	}
}

.event-block__list-paragraph {
	@extend %font-m-14;
	flex: 0 0 calc(100% - 108px);
	@include media('below-tablet') {
		flex: 0 0 calc(100% - 88px);
	}
}

.event-block__list-link {
	word-wrap: break-word;
}
