.list-block {
	@extend %w-shadow-block;
}

.list-block__link {
	@extend %flex-between;
	@extend %default-hover;
	padding: 24px 32px;
	@include media('above-desktop') {
		&:hover {
			background-color: rgba($main-color, 0.06);
		}
	}
}

.list-block__link {
	& .list-block__location {
		margin-right: 32px;
	}
}

.list-block__icon {
	color: $gray-5;
	transition: color 0.3s;
}

