.location-block {
	@extend %align--center;
	max-width: 456px;
}

.location-block__heading {
	@extend %font-m-22;
	padding-bottom: 16px;
	border-bottom: 1px solid $gray-2;
	margin-bottom: 16px;
}

.location-block__paragraph {
	@extend %last-no-margin;
	@extend %font-m-18;
	span {
		@extend %inline--middle;
		width: 40px;
	}
}
