.product-single-block {
	@extend %position-relative;
	@extend %lost-clear;
	.side-border-tag {
		@include media('above-tablet') {
			position: absolute;
			top: -6px;
			right: 0;
		}
		@include media('below-tablet') {
			display: inline-block;
			margin-bottom: 16px;
		}
	}
	@include media('below-tablet') {
		&.flex-center,
		.flex-center {
			flex-direction: column;
		}
	}
}

.product-single-block__side {
	@include media('above-tablet') {
		lost-column: 5/12 2 64px;
	}
	@include media('below-tablet') {
		lost-column: 1/1;
		margin-bottom: 24px;
	}
}

.product-single-block__main {
	@extend %position-relative;
	@include media('above-tablet') {
		lost-column: 7/12 2 64px;
	}
	@include media('below-tablet') {
		lost-column: 1/1;
	}
	@include media('below-mobile') {
		.bold-title-heading--l {
			font-size: 1.375em;
		}
	}
}

.product-single-block__heading {
	font-weight: $weight-b;
	font-size: 1.625em;
	color: $blue;

	@include media('below-small') {
		margin-bottom: 24px;
	}
	@include media('below-tablet') {
		font-size: 1.375em;
	}
}
