.quotation-block {
	@extend %lost-clear;
	@extend %w-shadow-block;
	padding: 24px;
	background-color: $white;
	margin-bottom: 16px;
	@include media('below-tablet') {
		padding: 16px;
	}
}

.quotation-block__img-wrap {
	lost-column: 1/6;
	@include media('below-tablet') {
		lost-column: 1/1;
		margin-bottom: 16px;
	}
}

.quotation-block__container {
	lost-column: 5/6;
	@include media('below-tablet') {
		lost-column: 1/1;
	}
}

.quotation-block__img {
	@include media('above-tablet') {
		max-width: 120px;
		margin: 0 auto;
		margin-bottom: 16px;
	}
	@include media('below-tablet') {
		display: inline-block;
		vertical-align: middle;
		max-width: 50px;
	}
}

.quotation-block__qty {
	@include media('above-tablet') {
		text-align: center
	}
	@include media('below-tablet') {
		display: inline-block;
		vertical-align: middle;
		margin-left: 16px;
	}
}

.quotation-block__label {
	@extend %uppercase;
	@extend %inline--middle;
	font-weight: $weight-b;
	color: $gray-4;
	margin-right: 8px;
}

.quotation-block__num {
	@extend %inline--middle;
	@extend %text--center;
	width: 50px;
	border: 1px solid $gray-2;
	padding: 2px 0;
	height: 23px;
	transition: border 0.3s;
	&:focus,
	&.is-valid {
		border: 2px solid $main-color;
	}
}

.quotation-block__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	@include media('below-tablet') {
		flex-direction: column;
		margin-bottom: 16px;
	}
}

.quotation-block__title {
	flex-grow: 1;
	@include media('below-tablet') {
		margin-bottom: 8px;
	}
}

.quotation-block__control {
	@include media('above-tablet') {
		flex: 0 0 140px;
	}
}

.quotation-block__heading {
	font-weight: $weight-b;
	font-size:  1.125em;
	margin-bottom: 8px;
}

.quotation-block__subheading {
	font-weight: $weight-m;
	margin-bottom: 4px;
}

.quotation-block__description {
	@extend %font-m-14;
}

.quotation-block__remove {
	@extend %flex;
	@extend %font-m-14;
	@include text-hover($gray-5);
	align-items: center;
	@include media('above-tablet') {
		justify-content: flex-end;
	}
	span {
		margin-left: 8px;
	}
}

.quotation-block__main {
	@extend %lost-clear;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.quotation-block__block {
	lost-column: 1/2 2 0;
	@include media('below-tablet') {
		lost-column: 1/1;
		margin-bottom: 8px;
	}
	&:first-child {
		@include media('above-tablet') {
			padding-right: 32px;
		}
	}
	&:last-child {
		transform: translateX(-2px);
		@include media('above-tablet') {
			border-left: 1px solid $gray-1;
			padding-left: 32px;
		}
	}
	&.quotation-block__block--full {
		@extend %full-width;
		border-left: none;
		padding: 0;
	}
}

.quotation-block__list {
	@extend %last-no-margin;
	margin-bottom: 16px;
}

.quotation-block__list-top {
	@extend %position-relative;
	@extend %flex-between;
	border-top: 1px solid $gray-1;
	@include media('below-tablet') {
		align-items: flex-start;
		padding: 8px 0;
	}
	.tag-btn {
		@include media('above-tablet') {
			transform: translate(-4px, 4px);
		}
	}
}

.quotation-block__list-heading {
	@extend %uppercase;
	@extend %font-b-14;
	color: rgba($black, 0.5);
	padding: 8px 0;
}

.quotation-block__item {
	@extend %last-no-margin;
	@extend %font-m-14;
	margin-bottom: 4px;
}

.quotation-block__status {
	@extend %full-width;
	background-color: $white-light;
	padding: 16px;
	&--editing {
		.border-btn {
			pointer-events: none;
			opacity: 0;
		}
	}
}

.quotation-block__edit-heading {
	font-size: 1.625em;
	font-weight: $weight-l;
	color: $gray-6;
	margin-bottom: 32px;
	@include media('below-tablet') {
		font-size: 1.4em;
		margin-bottom: 16px;
	}
}

.quotation-details {
	@extend %w-shadow-block;
	@extend %lost-clear;
	padding: 32px 48px;
	background-color: $gray-0;
	margin: -16px 0 16px;
	@include media('below-small') {
		padding: 24px;
	}
	@include media('below-tablet') {
		padding: 16px;
	}
}

.quotation-details__heading {
	@extend %uppercase;
	@extend %font-b-14;
	margin-bottom: 16px;
	color: $gray-4;
}

.quotation-details__filter-block {
	display: flex;
	padding: 16px 24px;
	margin-bottom: 40px;
	box-shadow: 0 2px 7px 0 rgba($black, 0.05);
	background-color: $white;
}

.quotation-details__filter-block--left {
	margin-right: 8px;
}

.quotation-details__filter-block--heading {
	@extend %uppercase;
	@extend %font-b-14;
	color: rgba($black, 0.3);
}

.quotation-details__filter-block--right {}

.quotation-details__filter-block--button {
	background-color: $gray-2;
	padding: 8px 16px;
	margin-right: 8px;
	transition: all 0.3s;
	&.is-active {
		background-color: $main-color;
		color: $white;
	}
}

.quotation-details__filter-block--button {
	font-size: 0.75em;
}

.quotation-details__category {
	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 32px;
	}
}

.quotation-details__category--heading {
	color: $gray-6;
	margin-bottom: 16px;
}

.quotation-details__category--block {
	@extend %w-shadow-block;
	background-color: $white;
	overflow-x: auto;
	padding: 16px;
}

.quotation-details__subheading {
	@extend %font-m-14;
	color: $gray-5;
	margin-bottom: 16px;
}

.quotation-details__des {
	@extend %uppercase;
	@extend %font-b-14;
	color: rgba($black, 0.3);
}

.quotation-details__compare-block {
	background-color: $white;
	box-shadow: 0 2px 10px 0 rgba($black, 0.05);
	padding: 24px;
	margin-bottom: 24px;
}

.quotation-details__checkbox-block {
	margin-bottom: 40px;
}

.quotation-details__checkbox-heading {
	@extend %font-m-14;
	color: $gray-4;
	margin-bottom: 16px;
}

.quotation-details__checkbox-item {
	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 0;
	}
}

.quotation-block__btn {
	background-color: $gray-1;
	padding: 6px 8px;
	font-size: 0.75em;
	transition: background-color 0.3s;
	color: $gray-6;
	@include media('above-desktop') {
		&:hover {
			background-color: $gray-2;
		}
	}
}

.quotation-block__btn-icon {
	@extend %inline--middle;
}

.quotation-block__btn-text {
	@extend %inline--middle;
}

.quotation-block__note {
	@extend %font-m-14;
	color: $orange;
}
