.result-top-block {
	@extend %flex-between;
	padding-bottom: 32px;
	@include media('below-tablet') {
		flex-direction: column;
		align-items: flex-start;
	}
}

.result-top-block--wide {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
	background-color: $white;
	padding: 24px 32px;
	margin-bottom: 16px;
	@include media('below-tablet') {
		padding: 16px;
	}
}

.result-top-block__heading {
	@extend %uppercase;
	font-weight: $weight-b;
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.result-top-block__heading--big {
	font-size: 1.625em;
	margin-bottom: 32px;
}
