.search-resault-block--outline {
	margin-bottom: 40px;
}

.search-resault-block {
	@extend %last-no-margin;
	padding: 16px;
	&.search-resault-block--with-border {
		border: 1px solid $gray-1;
	}
}

.search-resault-block__heading-block {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	@include media('below-mobile') {
		align-items: flex-start;
		& > .simple-icon-btn {
			margin-right: 16px;
		}
	}
}

.search-resault-block__tag {
	font-size: 0.625em;
	padding: 2px 4px;
	border: 1px solid $black;
	margin-right: 4px;
	margin-top: 1px;
}

.search-resault-block__heading {
	@extend %font-m-18;
	@include text-hover($black);
	font-size: 1.125em;
	margin-right: 16px;
	@include media('below-mobile') {
		flex: 1;
	}
}

.search-resault-block__paragraph {
	@extend %font-m-14;
	margin-bottom: 4px;
	line-height: 1.2em;
}

.search-resault-block__ref-link {
	@include text-hover($gray-4);
	font-size: 0.8em;
	word-break: break-all;
	line-height: 1.2em;
}

.search-resault__side-block--heading {
	@extend %uppercase;
	font-weight: $weight-b;
	margin-bottom: 32px;
	@include media('below-mobile') {
		margin-bottom: 16px;
	}
}

.search-resault__side-block--paragraph {
	margin-bottom: 8px;
	line-height: 1.25em;
}

.search-resault__side-block {
	@extend %last-no-margin;
	margin-bottom: 48px;
	@include media('below-small') {
		flex: 1 0;
		margin: 0 24px 0 0;
		&:last-child {
			margin-right: 0;
		}
	}
	@include media('below-mobile') {
		flex: 100%;
		margin: 0 0 24px;
		&:last-child {
			margin: 0;
		}
	}
}

.search-resault__quick-link {
	border-bottom: 1px solid $gray-1;
	padding-bottom: 16px;
	margin-bottom: 16px;
	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}
}

.search-resault__side-block--top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	.search-resault__btn {
		transform: translateY(-5px);
	}
}

.search-resault__btn {
	@extend %uppercase;
	@extend %font-b-14;
	color: $gray-6;
	background-color: $gray-0;
	padding: 4px;
	float: right;
	transition: all 0.3s;
	@include media('above-desktop') {
		&:hover {
			color: rgba($gray-6, 0.8);
		}
	}
}

.search-resault__history {
	@extend %last-no-margin;
	color: $green;
	margin-bottom: 16px;
}
