.shadow-block {
	@extend %position-relative;
	@extend %block;
	@extend %last-no-margin;
	@extend %w-shadow-block;
	margin-bottom: 32px;
	border-top: 1px solid $gray-1;
	@include media('above-tablet') {
		padding: 32px;
	}
	@include media('below-tablet') {
		padding: 16px;
	}
	&--no-padding {
		padding: 0;
	}
	&.shadow-block--with-margin {
		margin-bottom: 32px;
	}
	&.shadow-block--xscroll {
		overflow-x: auto;
	}
}

.shadow-block__heading {
	@extend %last-no-margin;
	font-weight: $weight-b;
	font-size:  1.625em;
	margin-bottom: 32px;
	&.shadow-block__heading--l {
		font-weight: $weight-l;
		font-size: 2em;
		margin-bottom: 16px;
		@include media('below-tablet') {
			font-size: 1.4em;
		}
	}
}

.shadow-block__subheading {
	@extend %last-no-margin;
	@extend %font-m-20;
	color: $gray-5;
	margin-bottom: 32px;
	@include media('below-tablet') {
		font-size: 1.1em;
		margin-bottom: 16px;
	}
}

.close-btn {
	@include bg-hover($main-color);
	padding: 8px;
	border-radius: 50%;
}

.close-btn__icon {
	@extend %block;
	color: $white;
	font-size: 14px;
}

.shadow-block__s-line {
	@extend %position-relative;
	@extend %full-width;
	height: 1px;
	border-top: 1px dashed $gray-3;
	img {
		@extend %position-absolute;
		top: -20px;
    right: 65px;
		width: 40px;
		@include media('below-tablet') {
			top: -15px;
			right: 16px;
			width: 30px;
		}
	}
}
