@mixin text-hover($color) {
	transition: color 0.3s;
	color: $color;
	@include media('above-desktop') {
		&:hover {
			color: rgba($color, 0.8);
		}
	}
}

@mixin bg-hover($color) {
	transition: all 0.3s;
	background-color: $color;
	@include media('above-desktop') {
		&:hover {
			background-color: color($color shade(16%));
		}
	}
}

@mixin rec-btn($name) {
	@extend %position-relative;
	@extend %uppercase;
	@extend %text--center;
	transition: all 0.3s;
	&.#{$name}--full {
		@extend %text--center;
		@extend %full-width;
		padding: 12px;
	}
	&.#{$name}--l {
    padding: 16px 24px;
		font-size: 16px;
		min-width: 160px;
		@include media('below-tablet') {
			padding: 12px 16px;
			min-width: 140px;
		}
		// .#{$name}__icon {
		// 	left: 24px;
		// 	@include media('below-tablet') {
		// 		left: 14px;
		// 	}
		// }
		// .#{$name}__text + .#{$name}__icon {
		// 	right: 24px;
		// }
	}
	&.#{$name}--ml {
		@extend %font-m-14;
		min-width: 120px;
		padding: 12px 16px;
		// .#{$name}__icon {
		// 	left: 16px;
		// }
		// .#{$name}__text + .#{$name}__icon {
		// 	right: 16px;
		// }
	}
	&.#{$name}--m {
		@extend %font-m-14;
		min-width: 100px;
		padding: 12px 16px;
		// .#{$name}__icon {
		// 	left: 16px;
		// }
		// .#{$name}__text + .#{$name}__icon {
		// 	right: 16px;
		// }
	}
	&.#{$name}--s {
		padding: 6px 8px;
		font-size: 0.75em;
		// .#{$name}__icon {
		// 	left: 8px;
		// }
		// .#{$name}__text + .#{$name}__icon {
		// 	right: 8px;
		// }
	}
	&.#{$name}--disable,
	&.btn--disable {
		pointer-events: none!important;
	}
	&.#{$name}--search {
		font-size: 1em;
		min-width: 120px;
		padding: 16px 24px;
	}

	.#{$name}__icon {
		@extend %inline--middle;
		font-size: 12px;
	}
	.#{$name}__text {
		@extend %inline--middle;
		margin-right: 18px;
		&:last-child {
			margin-right: 0;
		}
	}
	.#{$name}__icon + .#{$name}__text {
		margin-left: 8px;
		margin-right: 0;
	}
	.#{$name}__text + .#{$name}__icon {
		left: auto;
	}
}

// Carousels


%c-arrow-btn {
	@extend %position-absolute;
	top: calc(50% - 24px);
	padding: 8px;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 10;
}

@mixin c-side-arrow($name) {
	.#{$name}__btn {
		@extend %c-arrow-btn;
		@include media('above-desktop') {
			&:hover {
				.#{$name}__icon {
						color: $main-color;
				}
			}
		}
		&--prev {
			left: 0;
		}
		&--next {
			right: 0;
		}
	}
}

@mixin c-c-arrow($name) {
	.#{$name}__btn {
		@extend %c-c-btn;
		@include media('above-desktop') {
			&:hover {
				.#{$name}__icon {
					color: $main-color;
				}
			}
		}
	}
	.#{$name}__icon {
		@extend %c-c-btn-icon;
	}
}
