.mxTableStyle {
	border: 1px solid $blue-gray;
	width: 100%!important;
	thead {
		background-color: $main-color;
		color: $white;
		td {
			font-weight: $weight-b;
			border-right: 1px solid color($main-color shade(20%));
			border-bottom: 1px solid color($main-color shade(20%));
		}
	}
	tbody {
		tr {
			&:nth-child(even) {
				background-color: rgba($blue-gray, 0.2);
				&.theading {
					background-color: transparent;
				}
			}
		}
	}
	tr {
		border-bottom: 1px solid $blue-gray;
	}
	td {
		@extend %font-m-14;
		padding: 8px 24px;
		line-height: 1.2em;
		border-right: 1px solid $blue-gray;
		&:last-child {
			border-right: none;
		}
	}
	.theading {
		td {
			@extend %uppercase;
			background-color: rgba($main-color, 0.4)!important;
			color: $gray-5;
			font-weight: $weight-b;
		}
	}
	tfoot {
		border-top: 1px solid $gray-0;
		color: $orange;
	}
}
