.colors-banner {
    @extend %position-relative;
    @extend %full-width;
    overflow: hidden;
    height: 100%;
    min-height: 386px;
}

.colors-banner__wrap {
    @extend %lost-clear;
}

.colors-banner__img {
    @extend %position-absolute;
    @extend %full-width;
    @extend %full-height;
    @extend %background-cover;
}

.colors-banner__bg {
    @extend %flex-center;
    @extend %full-height;
    padding: 40px 0;
    min-height: 386px;
    lost-column: 1/2;
    background-color: $main-color;
    transform: skewX(12deg) translateX(-40px);
    padding-right: 56px;
    &:before {
        @extend %position-absolute;
        @extend %full-height;
        width: 115%;
        content: '';
        right: 0;
        transform: skewX(16deg);
        background-color: $blue;
    }
}

.colors-banner__container {
    padding-left: 88px;
    transform: skewX(-12deg);
    color: $white;
}

.colors-banner__paragraph {
    @extend %last-no-margin;
    margin-bottom: 16px;
}