.media-list__item {
	@extend %inline--middle;
	margin-right: 4px;
	&:last-child {
		margin-right: 0;
	}
}

.media-list__link {
	@include media('above-desktop') {
		&:hover {
			.media-list__icon {
				color: $main-color;
			}
		}
	}
}

.media-list__icon {
	font-size: 22px;
	color: $gray-4;
	transition: color 0.3s;
}
