.filter-block {
	@include media('above-tablet') {
		padding: 16px 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@include media('below-tablet') {
		padding: 16px;
	}
	& + .column {
		margin: 16px 0;
	}
	& + .shadow-block {
		padding: 16px 32px;
		@include media('below-tablet') {
			padding: 16px;
		}
	}
	&:not(.-basic) {
		@extend %w-shadow-block;
	}
	&.-basic {
		margin-bottom: 16px;
		background-color: transparent;
		justify-content: flex-start;
		padding: 0;
	}
}

.filter-block__label {
	@extend %uppercase;
	font-weight: $weight-b;
	margin-right: 8px;
}

.filter-block--short {
	@extend %flex-between;
	min-width: calc(33% - 21px);
}

.filter-block__cing {
	@extend %uppercase;
	@extend %font-b-14;
	color: $gray-3;
	@include media('above-tablet') {
		margin-right: 8px;
	}
	@include media('below-tablet') {
		margin-right: 0;
		margin-bottom: 8px;
	}
}

.filter-block__select-wrap {
	@extend %position-relative;
	@extend %inline--middle;
	@extend %full-width;
	margin-right: 8px;
	@include media('above-tablet') {
		max-width: 300px;
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&:before {
		@extend %position-absolute;
		content: '';
		top: calc(50% - 2px);
		right: 16px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $gray-6;
		border-bottom: 0;
		transition: border 0.3s;
	}
	&:last-child {
		margin-right: 0;
	}
}

.filter-block__select {
	@extend %full-width;
	@extend %font-m-14;
	background-color: $white;
	border: 1px solid $gray-0;
	border-radius: 0;
	padding: 8px 16px;
	color: $gray-6;
	&.is-active {
		border: 1px solid $gray-4;
	}
	&:focus {
		border: 1px solid $gray-4;
	}
	&.filter-block__select--big {
		font-size: 1em;
		padding: 12px 36px 12px 16px;
		border: 2px solid $gray-2;
		min-width: 240px;
		@include media('below-small') {
			min-width: 210px;
		}
		@include media('below-tablet') {
			min-width: auto;
		}
		&.is-active {
			border: 2px solid $gray-4;
		}
	}
	&::-ms-expand {
    display: none;
	}
}

.filter-block__container {
	flex-grow: 1;
	margin-right: 8px;
	&:last-child {
		margin-right: 0;
	}
	@include media('above-tablet') {
		padding-left: 8px;
	}
}

.filter-block__btns {
	@extend %inline--middle;
	.filter-block__select-wrap + & {
		@include media('above-tablet') {
			max-width: calc(100% - 315px);
		}
	}
}

.filter-block__btn {
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: $gray-1;
	padding: 6px 8px;
	font-size: 0.75em;
	color: $gray-6;
	transition: color 0.3s, background-color 0.3s;
	@include media('above-desktop') {
		&:hover {
			color: $white;
			background-color: $main-color;
		}
	}
	&.is-active {
		color: $white;
		background-color: $main-color;
	}
	&:last-child {
		margin-right: 0;
	}
}

.filter-block__wrapper {
	display: none;
	&.is-active {
		display: block;
	}
	.filter-block--short {
		margin-bottom: 40px;
		@include media('below-mobile') {
			margin-bottom: 8px;
		}
	}
}

.filter-block__heading {
	@include media('below-tablet') {
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
