.inline-icon-block {
	@extend %full-width;
	@extend %inline--middle;
	margin-right: 16px;
	@include media('above-tablet') {
		max-width: 250px;
	}
	@include media('below-tablet') {
		max-width: 100%;
		text-align: center;
		margin-bottom: 16px;
	}
	&:last-child {
		margin-right: 0;
	}
	&.inline-icon-block--full {
		max-width: 100%;
	}
}

.inline-icon-block__img {
	@extend %inline--middle;
	width: 30px;
	margin-right: 16px;
}

.inline-icon-block__container {
	@extend %inline--middle;
	@extend %text--left;
	@extend %font-m-18;
	font-weight: $weight-m;
	max-width: calc(100% - 80px);
}

.inline-icon-block__heading {
	@extend %last-no-margin;
	margin-bottom: 4px;
}

.inline-icon-block__link {
	@extend %block;
	color: $main-color;
	span {
		text-decoration: underline;
	}
}
