.login-block {
	background-color: $white;
	float: none!important;
	@include media('below-small') {
		lost-column: 3/4;
		lost-offset: 1/8;
	}
	@include media('below-tablet') {
		lost-column: 1/1;
		lost-offset: 0;
	}
}


.login-block__main {
	padding: 56px 64px;
	@include media('below-tablet') {
		padding: 16px;
	}
}

.login-block__heading {
	font-size: 2em;
	font-weight: $weight-l;
	margin-bottom: 24px;
}

.login-block__bottom {
	@extend %position-relative;
	@extend %flex-center;
	border-top: 1px solid $gray-2;
	padding: 24px 0;
	position: relative;
	&:after {
		@extend %position-absolute;
		@extend %block;
		content: '';
		top: -13px;
		right: 75px;
		width: 25px;
		height: 25px;
		background: $white;
		border-right:1px solid $gray-2;
		border-bottom:1px solid $gray-2;
		transform:rotate(45deg);
	}
}

.login-block__note {
	margin-right: 8px;
}

.login-block__link {
	font-weight: $weight-b;
	font-size:  1em;
}

.login-block__hr {
	border-bottom: 1px solid $gray-2;
	margin-bottom: 48px;
}
