%modules-style {
	margin-bottom: 24px;
}

.module-block {
	@include media('above-tablet') {
		padding: 32px;
	}
	@include media('below-tablet') {
		padding: 16px;
	}
	&--white {
		background-color: $white;
	}
	&--gray {
		background-color: $gray-0;
	}
	.modal-img-block {
		@extend %last-no-margin;
		margin-bottom: 32px;
	}
	.border-table__td {
		padding: 8px 8px 8px 0;
	}
	.border-table__td--padding-left {
		padding-left: 16px;
	}
	.column {
		@extend %modules-style;
	}
	.bullet-list__item {
		line-height: normal;
	}
	&.module-block--xscroll {
		overflow-x: auto;
	}
	&.module-block--bd-r {
		border-right: 1px solid $gray-1;
	}
}

.module-block__top {
	border-bottom: 1px solid $gray-2;
	padding-bottom: 16px;
	margin-bottom: 32px;
	h2 {
		font-size: 1.5rem;
		margin-bottom: 16px;
	}
	p {
		margin-bottom: 8px;
	}
}

.module-block-bar {
	@extend %full-width;
	@extend %font-b-14;
	color: $white;
	background-color: $main-color;
	padding: 16px 32px;
	@include media('below-tablet') {
		padding: 16px;
	}
}

.module-block__title {
	@extend %te-h1;
}

.module-block__subtitle {
	@extend %modules-style;
	@extend %uppercase;
	color: $blue;
	font-weight: $weight-b;
}

.module-block__heading {
	@extend %te-h2;
}

.module-block__heading--l {
	@extend %modules-style;
	font-weight: $weight-l;
	font-size:  1.625em;
	@include media('below-tablet') {
		font-size: 1.4em;
	}
}

.module-block__header {
	@extend %flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 1px solid $gray-2;
	margin-bottom: 40px;
	@include media('below-mobile') {
		flex-direction: column;
		margin-bottom: 24px;
	}
	.flex-between {
		@include media('below-mobile') {
			margin-bottom: 16px;
		}
	}
	.simple-icon-btn--tag {
		margin-right: 8px;
	}
	.save-note-block {
		margin-left: 8px;
	}
}

.module-block__subheading {
	@extend %te-h5;
}

.module-block__date {
	@extend %modules-style;
	@extend %block;
	@extend %font-m-14;
	font-style: italic;
	&:not(.-no-line) {
		padding: 16px 0 32px;
		border-bottom: 1px solid $gray-2;
	}
	@include media('below-tablet') {
		padding: 16px 0;
	}
}

.module-block__paragraph {
	@extend %modules-style;
}

.module-block__note {
	@extend %modules-style;
	@extend %font-m-14;
	color: $orange;
}

.modal-block__side-img {
	@extend %inline--top;
	margin: 32px 24px 0 0;
	max-width: 75px;
	@include media('below-tablet') {
		margin: 0 0 16px 0;
	}
}

.modal-block__side-content {
	@extend %inline--top;
	width: calc(100% - 105px);
	@include media('below-tablet') {
		width: 100%;
	}
}

.module-block__line-block {
	border-left: 5px solid $main-color;
	background-color: $gray-0;
	padding: 32px 48px;
	.modal-block__heading {
		font-weight: $weight-b;
		font-size:  1.375em;
		margin-bottom: 24px;
	}
}

.module-block__i {
	@extend %position-relative;
	vertical-align: middle;
	display: inline-block;
	@include media('below-tablet') {
		position: inherit;
	}
	&.is-active,
	&:hover {
		i {
			color: rgba($main-color, 0.85);
		}
		.module-block__bubble {
			opacity: 1;
			pointer-events: auto;
		}
	}
	i {
		color: $main-color;
		transition: color 0.3s;
		font-size: 14px;
		transform: translateY(-3px);
		margin-left: 4px;
	}
	& .icon-center {
		transform: none;
	}
}

.module-block__bubble {
	@extend %position-absolute;
	@extend %w-shadow-block;
	background-color: $gray-2;
	width: 300px;
	padding: 8px;
	font-size: 14px;
	right: -16px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	z-index: 5;
	word-wrap: break-word;
	@include media('above-tablet') {
		bottom: 30px;
	}
	@include media('below-tablet') {
		margin: 0 0 16px 0;
		width: calc(100vw - 48px);
		right: 0;
	}
	&.module-block__bubble--small {
		width: 200px;
		@include media('below-tablet') {
			width: 100%;
		}
	}
	&:before {
		@extend %position-absolute;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		content: '';
		border-top: 8px solid $gray-2;
		bottom: -8px;
		right: 16px;
		@include media('below-tablet') {
			display: none;
		}
	}
}

.module-block__table  {
	border: 1px solid $gray-1;
	padding: 8px 24px 16px 24px;
	margin-bottom: 24px;
	overflow-x: auto;
	@include media('below-tablet') {
		padding: 8px 16px 16px;
	}
}

.module-block__table--shadow {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
	padding: 8px 0 16px;
	margin-bottom: 80px;
	&.border-table__tr {
		padding: 0 24px;
	}
	& .border-table__td,
	& .border-table__th {
		padding: 16px;
	}
}

.module-block__table--row {
	margin-bottom: 40px;
}

.module-block__card {
	@extend %position-relative;
	@extend %flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px 16px 16px 16px;
	border: 1px solid $gray-1;
	border-top: 2px solid $main-color;
	min-height: 120px;
	transition: border-color 0.3s;
  @include media('above-desktop') {
		&:hover {
			border-color: $gray-2;
			border-top-color: rgba($main-color, 0.8);
		}
	}
}

.module-block__link {
	@extend %block;
	@include media('below-tablet') {
		width: 100%;
	}
}

.module-block__pointer {
	@extend %position-relative;
	@extend %modules-style;
	max-width: 400px;
	margin: 0 auto;
}

.module-block__card-heading {
	@extend %font-b-14;
}

.module-block__card-download {
	@extend %flex-between;
	align-items: flex-end;
	@extend %full-width;
}

.module-block__card-note {
	@extend %font-m-14;
	color: $gray-4;
}

.module-block__note-heading {
	color: $gray-5;
	margin-bottom: 16px;
}

.module-block__card-icon {
	font-size: 18px;
}

.module-block-footer {
	@extend %font-m-14;
	background-color: $white;
	padding: 16px 40px;
	box-shadow: 0 -2px 8px 0 rgba($black, .05);
	margin-bottom: 24px;
	@include media('below-mobile') {
		font-size: 0.75em;
		padding: 16px;
	}
}

.module-block-footer__note {
	color: $gray-4;
}

.module-block-footer__actions {
	.simple-icon-btn {
		@extend %last-no-margin;
		margin-right: 16px;
	}
}

.module-block__loadmore {
	@extend %text--center;
	margin-top: 16px;
}

.module-block__details {
	@extend %modules-style;
	border-bottom: 1px solid $gray-2;
	padding-bottom: 16px;
	li {
		color: $gray-5;
		line-height: 1.2em;
	}
}

.module-block__list {
	@extend %modules-style;
	li {
		@extend %last-no-margin;
		margin-bottom: 8px;
	}
}

.module-block__sm-img {
	@extend %modules-style;
	@extend %align--center;
	display: block;
	max-width: 390px;
	width: 100%;
}

.module-block__block {
	padding: 32px;
	background-color: $gray-1;
	@include media('below-tablet') {
		padding: 16px;
	}
	p {
		@extend %font-m-14;
	}
	h5 {
		@extend %font-b-14;
		margin-bottom: 8px;
	}
}
