.quote-block {
	@extend %align--center;
	padding: 40px 56px;
	background-color: $gray-0;
	max-width: 375px;
	@include media('below-tablet') {
		padding: 24px 40px;
	}
}

.quote-block__img {
	@extend %align--center;
	@extend %full-width;
	margin-bottom: 16px;
}

.quote-block__paragraph {
	@extend %position-relative;
	&:before,
	&:after {
		@extend %position-absolute;
		font-family: "icon";
		content: '\EA0E';
		font-size: 20px;
		color: $gray-2;
	}
	&:before {
		top: 0;
		left: -28px;
	}
	&:after {
		bottom: 0;
		right: -28px;
		transform: rotate(180deg);
	}
}
