.related-block {
	@extend %last-no-margin;
	border-bottom: 1px solid $gray-2;
	padding-bottom: 14px;
	margin-bottom: 16px;
}

.related-block__heading {
	@extend %uppercase;
	@extend %font-b-14;
	color: $blue;
	margin-bottom: 8px;
}

.related-block__paragraph {
	@extend %font-m-14;
	line-height: 1.4em;
}

.related-block__link {
	@include text-hover($default-color);
}
