.result-block-wrap {
	box-shadow: 0 0 3px 0 rgba($black,0.05);
	> .result-block {
		box-shadow: 0 6px 20px 0 rgba($black,0.1);
	}
}

.result-block__additional {
	display: none;
	@include media('below-tablet') {
		padding-top: 32px;
	}
}

.result-block {
	@extend %position-relative;
	@extend %last-no-margin;
	margin-bottom: 16px;
	background-color: $white;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 24px;
	@include media('below-tablet') {
		flex-direction: column;
		padding: 16px;
	}
}

.result-block__img {
	@extend %full-width;
	max-width: 112px;
	@include media('below-tablet') {
		margin: 0 auto 24px;
	}
}

.result-block__container {
	flex-grow: 1;
	@include media('above-tablet') {
		padding-left: 24px;
		width: calc(100% - 112px);
		.result-block__additional & {
			padding-left: 136px;
		}
	}
	@include media('below-tablet') {
		width: 100%;
	}
}

.result-block__top {
	@extend %flex-between;
	border-bottom: 1px solid $gray-0;
	padding-bottom: 8px;
	margin-bottom: 16px;
}

.result-block__heading {
	font-weight: $weight-b;
	font-size:  1.375em;
	width: calc(100% - 36px);
	margin-right: 16px;
	@include media('below-tablet') {
		font-size: 1.2em;
	}
}

.result-block__subheading {
	@extend %font-b-14;
	margin-bottom: 8px;
}

.result-block__paragraph {
	@extend %font-m-14;
	line-height: 1.5em;
}

.result-block__switch {
	@extend %flex-center;
	&.is-active {
		@extend %text--center;
		background-color: $main-color;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		.result-block__icon {
			font-size: 10px;
			color: $white;
		}
	}
}

.result-block__icon {
	@extend %block;
	font-size: 20px;
}

.result-block__main {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	@include media('below-small') {
		flex-direction: column;
	}
	.basic-list {
		flex-grow: 1;
		width: calc(100% - 270px);
		@include media('below-small') {
			width: 100%;
		}
	}
}

.result-block__info {
	@include media('above-small') {
		width: calc(100% - 250px);
		padding-right: 24px;
	}
	@include media('below-small') {
		width: 100%;
		margin-bottom: 16px;
	}
	& + .result-block__right {
		margin-top: 0;
	}
}

.result-block__right {
	@extend %position-relative;
	width: 270px;
	align-self: stretch;
	@include media('above-small') {
		min-height: 160px;
		text-align: right;
	}
	@include media('below-small') {
		width: 100%;
		align-self: flex-start;
		margin-top: 24px;
	}
	.border-btn {
		@include media('above-small') {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

.result-block__imgs {
	margin-bottom: 64px;
	@include media('below-small') {
		margin-bottom: 24px;
	}
}

.result-block__certificate {
	@extend %inline--middle;
	margin-left: 8px;
	&:first-child {
		margin-left: 0;
	}
}

.result-block__back-to-top {
	@extend %block;
	& .result-block__icon {
		display: inline;
		font-size: 8px;
	}
}

.result-block__back-to-top--text {
	display: inline;
	font-size: 14px;
	margin-right: 8px;
	font-weight: $weight-b;
}

.result-block__reset-search {
	@extend %block;
	margin-top: 8px;
	& .result-block__icon {
		font-size: 16px;
		display: inline;
		margin-right: 8px;
		vertical-align: middle;
	}
}

.result-block__reset-search--text {
	display: inline;
	font-size: 14px;
	vertical-align: middle;
}

.mix-container {
	@extend %last-no-margin;
	margin-bottom: 16px;
}

.result-block__certificate-img {
	width: 65px;
	@include media('below-tablet') {
		width: 50px;
	}
}

.result-block__contact {
	@extend %lost-clear;
	@extend %full-width;
}

.result-block__map {
	@extend %position-relative;
	lost-column: 7/12;
	min-height: 288px;
	overflow: hidden;
	@include media('below-tablet') {
		lost-column: 1/1;
		min-height: 250px;
	}
	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.result-block__intro {
	lost-column: 5/12;
	@include media('below-tablet') {
		lost-column: 1/1;
		margin-bottom: 16px;
	}
}

.result-block__intro--heading {
	@extend %font-b-18;
	margin-bottom: 24px;
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.result-block__intro--item {
	@extend %font-m-20;
	@include media('below-tablet') {
		font-size: 1em;
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
