.short-block {
	lost-column: 2/3;
	@include media('below-tablet') {
		lost-column: 1/1;
	}
}

.short-block__heading {
	font-size: 1.625em;
	margin-bottom: 16px;
	font-weight: $weight-b;
	@include media('below-tablet') {
		font-size: 1.3em;
	}
}

.short-block__paragraph {
	@extend %last-no-margin;
	@extend %font-m-18;
	font-weight: $weight-m;
	color: $gray-6;
	margin-bottom: 16px;
}
