.two-flex-block {
    @extend %last-no-margin;
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    margin-bottom: 48px;
    &:nth-child(2n+1) {
        .two-flex-block__img {
            order: 1;
        }
		}
		@include media('below-small') {
			display: block;
		}
}

.two-flex-block__img {
    @extend %background-cover;
		width: calc(50% - 12px);
		min-height: 600px;
		@include media('below-small') {
			width: 100%;
			margin-bottom: 32px;
		}
		@include media('below-mobile') {
			min-height: 300px;
			width: 100%;
			margin-bottom: 32px;
		}
}

.two-flex-block__container {
    width: calc(50% - 12px);
    background-color: $gray-1;
		padding: 40px 32px;
		h3 {
			border-top: 6px solid $gray-6;
			font-size: 1.5em;
			padding-top: 24px;
			margin-bottom: 24px;
		}
		p {
			@extend %last-no-margin;
			margin-bottom: 24px;
		}
		li {
			@extend %last-no-margin;
			@extend %position-relative;
			color: $gray-6;
			margin-bottom: 16px;
			padding-left: 24px;
			line-height: 1.3em;
			&:before {
				@extend %position-absolute;
				font-family: "icon";
				content: '\EA0A';
				font-size: 16px;
				left: 0;
				top: 3px;
			}
		}
		@include media('below-small') {
			width: 100%;
		}
		@include media('below-mobile') {
			padding: 16px;
		}
}

.two-flex-block__heading {
    border-top: 6px solid $gray-6;
    font-size: 1.625em;
    padding-top: 24px;
    margin-bottom: 24px;
}

.two-flex-block__paragraph {
    @extend %last-no-margin;
    margin-bottom: 24px;
    color: $gray-6;
}
