@font-face {
  font-family: "icon";
  src: url( "fonts/icon.eot" );
  src: url( "fonts/icon.eot?#iefix" ) format( "eot" ),
       url( "fonts/icon.ttf" ) format( "truetype" ),
       url( "fonts/icon.woff" ) format( "woff" ),
       url( "fonts/icon.svg#icon" ) format( "svg" );
  font-weight: normal;
  font-style: normal;
}

.icon-base,
[class^="icon-"], [class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before { content: "\EA01" }
.icon-arrow-left:before { content: "\EA02" }
.icon-arrow-right:before { content: "\EA03" }
.icon-arrow-up:before { content: "\EA04" }
.icon-bag:before { content: "\EA05" }
.icon-blog:before { content: "\EA06" }
.icon-chat:before { content: "\EA07" }
.icon-check-2:before { content: "\EA08" }
.icon-check-3:before { content: "\EA09" }
.icon-check:before { content: "\EA0A" }
.icon-circle-play:before { content: "\EA0B" }
.icon-clip:before { content: "\EA0C" }
.icon-collapse:before { content: "\EA0D" }
.icon-comma:before { content: "\EA0E" }
.icon-cross:before { content: "\EA0F" }
.icon-doc:before { content: "\EA10" }
.icon-dots:before { content: "\EA11" }
.icon-download:before { content: "\EA12" }
.icon-earth:before { content: "\EA13" }
.icon-enlarge:before { content: "\EA14" }
.icon-expand:before { content: "\EA15" }
.icon-export:before { content: "\EA16" }
.icon-facebook:before { content: "\EA17" }
.icon-google-plus:before { content: "\EA18" }
.icon-hamburger:before { content: "\EA19" }
.icon-info-2:before { content: "\EA1A" }
.icon-info:before { content: "\EA1B" }
.icon-light-bulb:before { content: "\EA1C" }
.icon-linkedin:before { content: "\EA1D" }
.icon-lock-1:before { content: "\EA1E" }
.icon-lock-2:before { content: "\EA1F" }
.icon-lock:before { content: "\EA20" }
.icon-magnifier:before { content: "\EA21" }
.icon-mail:before { content: "\EA22" }
.icon-minus:before { content: "\EA23" }
.icon-pencil:before { content: "\EA24" }
.icon-plus:before { content: "\EA25" }
.icon-print:before { content: "\EA26" }
.icon-profile:before { content: "\EA27" }
.icon-question:before { content: "\EA28" }
.icon-refresh:before { content: "\EA29" }
.icon-resrc:before { content: "\EA2A" }
.icon-share:before { content: "\EA2B" }
.icon-shopping-cart:before { content: "\EA2C" }
.icon-star-fill:before { content: "\EA2D" }
.icon-star:before { content: "\EA2E" }
.icon-t-arrow-left:before { content: "\EA2F" }
.icon-t-arrow-right:before { content: "\EA30" }
.icon-tag-2:before { content: "\EA31" }
.icon-tag-full:before { content: "\EA32" }
.icon-tag:before { content: "\EA33" }
.icon-trash:before { content: "\EA34" }
.icon-twitter:before { content: "\EA35" }
.icon-warn:before { content: "\EA36" }
.icon-wechat:before { content: "\EA37" }
.icon-youtube:before { content: "\EA38" }
