.arrow-card {
  @extend %full-width;
  @extend %flex-between;
  padding: 16px 0;
  border-bottom: 1px solid $gray-1;
  cursor: pointer;
  font-weight: $weight-b;
  color: $gray-3;
  transition: all 0.3s;

  @include media('above-desktop') {
    &:hover {
      color: $gray-6;
    }
  }

  &.is-active {
    color: $gray-6;
  }
}