.side-img-card {
	@extend %w-shadow-block;
}

.side-img-card__link {
	@extend %full-width;
	display: flex;
	@include media('below-tablet') {
		flex-direction: column;
	}
}

.side-img-card__container {
	@extend %position-relative;
	display: flex;
	flex-direction: column;
	background-color: $white;
	width: 57%;
	padding: 16px;
	@include media('below-tablet') {
		width: 100%;
	}
}

.side-img-card__img-wrap {
	width: 43%;
	@include media('below-tablet') {
		width: 100%;
	}
}

.side-img-card__img {
	@extend %full-width;
	@extend %background-cover;
	@extend %full-height;
	padding-top: 100%;
	@include media('below-tablet') {
		padding-top: 60%;
	}
}

.side-img-card__paragraph {
	@extend %last-no-margin;
	@extend %font-m-14;
	color: $gray-6;
	margin-bottom: 8px;
	flex-grow: 1;
}

.side-img-card__subheading {
	@extend %uppercase;
	color: $blue;
	font-size: 0.875;
	font-weight: $weight-b;
	margin-bottom: 16px;
}
