.tooltip {
	@extend %position-absolute;
	background-color: $white;
  box-shadow: 2px 8px 12px rgba($gray-2, 0.6);
  opacity: 0;
  pointer-events: none;
	transition: all 0.3s;
	@include media('above-tablet') {
		min-width: 440px;
		right: 150%;
		top: -100%;
	}
	@include media('below-tablet') {
		right: 0;
		width: calc(100vw - 20px);
	}
  &:after {
    content: "";
    position: absolute;
    right: -20px;
    border-width: 10px;
    border-style: solid;
		border-color: transparent transparent transparent $white;
		@include media('above-desktop') {
			top: calc(50% - 10px);
			right: -20px;
		}
		@include media('below-desktop') {
			top: -18px;
			right: 8px;
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;

			border-bottom: 8px solid $orange;
		}
  }

  &.is-active {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s;
	}
	@include media('below-tablet') {
		.product-bar__item {
			display: none;
		}
		.product-bar__info {
			max-width: 100%;
		}
		.product-bar__id {
			font-size: 1em;
			margin-bottom: 8px;
		}
	}
}

.tooltop__link {
  @extend %block;
}

.tooltop__close {
  cursor: pointer;
  font-size: 12px;
}

.tooltip__top {
  @extend %flex-between;
  color: $white;
  background-color: $orange;
  padding: 8px 16px;

  .tooltip__top-text {
    @extend %inlineblock;
  }
}

.tooltip__main {
	padding: 16px 24px;
	@include media('below-tablet') {
		padding: 16px;
	}
}
