.product-card {
	@extend %position-relative;
}

.product-card__img {
	@extend %align--center;
	@extend %full-width;
	max-width: 108px;
	margin-bottom: 16px;
}

.product-card__btn {
	margin-bottom: 16px;
}

.product-card__heading {
	font-weight: $weight-b;
	margin-bottom: 8px;
}

.product-card__subheading {
	font-weight: $weight-m;
}

.product-card__close-btn {
	@extend %position-absolute;
	@include text-hover($gray-5);
	top: 0;
	right: 16px;
}

.product-card__icon {
	font-size: 14px;
}
