.language-dropdown {
	@extend %position-relative;
	@extend %inline--middle;
	&.is-active {
		z-index: 20;
		.language-dropdown__trigger {
			background-color: $main-color;
		}
		.language-dropdown__list {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0);
		}
		.language-dropdown__icon,
		.language-dropdown__current,
		.language-dropdown__arrow {
			color: $white;
		}
		.language-dropdown__arrow {
			transform: rotate(180deg);
		}
	}
}

.language-dropdown__trigger {
	@extend %position-relative;
	@extend %full-width;
	background-color: $white;
	padding: 16px;
	transition: background-color 0.3s;
	z-index: 5;
	@include media('above-desktop') {
		&:hover {
			background-color: $gray-1;
		}
	}
}

.language-dropdown__icon {
	@extend %inline--middle;
	font-size: 14px;
	color: rgba($black, 0.8);
	transition: color 0.3s;
}

.language-dropdown__current {
	@extend %inline--middle;
	@extend %font-m-14;
	color: $gray-6;
	padding: 0 8px;
	min-width: 180px;
	transition: color 0.3s;
}

.language-dropdown__arrow {
	@extend %inline--middle;
	font-size: 11px;
	color: $blue-gray;
	transition: color 0.3s;
}

.language-dropdown__list {
	@extend %position-absolute;
	@extend %full-width;
	background-color: $gray-1;
	bottom: 48px;
	transform: translateY(8px);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s, transform 0.3s;
}

.language-dropdown__link {
	@extend %block;
	padding: 16px 24px 16px 40px;
	@include text-hover($gray-5);
}
