.sort-dropdown {
	@extend %position-relative;
	@include media('below-tablet') {
		width: 100%;
	}
	&.sort-dropdown--l {
		margin-bottom: 24px;
		@include font($base-font, $weight-m, 1.625em);
		@include media('below-tablet') {
			font-size: 1.2em;
		}
	}
}

.sort-dropdown__heading {
	@extend %uppercase;
	letter-spacing: 1px;
	font-weight: $weight-b;
	margin-right: 8px;
	@include media('below-tablet') {
		display: inline-block;
		margin-bottom: 8px;
	}
}

.sort-dropdown__select,
.sort-dropdown__select2 {
	border-bottom: 1px solid $blue-gray;
	padding: 0 30px 4px 0;
	@include media('below-tablet') {
		width: 100%;
	}
	.sort-dropdown--l & {
		color: $main-color;
	}
	&::-ms-expand {
    display: none;
	}
}

.sort-dropdown__icon {
	@extend %position-absolute;
	font-size: 10px;
	top: calc(50% - 7px);
	right: 0;
	/*
	not sure if this mq is needed?
	the icon in `Product FAQs` tab in `support-search-result` page is broken since `below-tablet` downward
	*/
	// @include media('above-tablet') {
	// 	right: 0;
	// }
}
