.overlap-carousel {
	@extend %position-relative;
	@extend %clear;
	@include c-side-arrow(overlap-carousel);
	@include media('above-desktop') {
	&:hover {
			.overlap-carousel__btn {
				opacity: 1;
			}
		}
	}
}

.overlap-carousel__img {
	@extend %background-cover;
	@extend %full-height;
	padding-top: 50%;
	@include media('above-tablet') {
		lost-offset: 1/12;
		lost-column: 11/12;
	}
	@include media('below-tablet') {
		lost-column: 1/1;
	}
}

.overlap-carousel__video-btn {
	@extend %position-absolute;

	@include media('above-tablet') {
		bottom: 56px;
		right: 56px;
	}
	@include media('below-tablet') {
		bottom: 15px;
    right: 25px;
	}
}

.overlap-carousel__containers-wrap {
	@extend %lost-clear;
	@extend %full-width;
	pointer-events: none;
	@include media('above-tablet') {
		position: absolute;
		bottom: 40px;
		left: 0;
	}
	@include media('below-tablet') {
		position: relative;
	}
}

.overlap-carousel__containers {
	pointer-events: auto;
	@include media('above-tablet') {
		lost-column: 5/12;
	}
	@include media('below-tablet') {
		lost-column: 1/1;
	}
	.slick-slide {
		height: auto;
	}
}

.overlap-carousel__link {
	@extend %block;
	background-color: $main-color;
	padding: 24px;
	color: $white;
	transition: color 0.3s, background-color 0.3s;
	@include media('above-desktop') {
		&:hover {
			color: $main-color;
			background-color: $white;
		}
	}
}

.overlap-carousel__subheading {
	@extend %uppercase;
	font-weight: $weight-b;
	letter-spacing: 1px;
	margin-bottom: 16px;
}

.overlap-carousel__heading {
	@extend %font-m-32;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.overlap-carousel__icon {
	@extend %c-arrow-icon;
}
