.tri-tag {
	position: absolute;
	color: $white;
	top: 0;
	right: 22px;
	span {
		color: $white;
		position: relative;
		font-size: 12px;
		transform: translateX(19px) translateY(12px) rotate(45deg);
		display: block;
		font-weight: $weight-b;
	}
	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 50px 50px 0;
		border-color: transparent $orange transparent transparent;

	}
}
