.center-carousel {
	@extend %last-no-margin;
	@include c-c-arrow(center-carousel);
	margin-bottom: 24px;
	.slick-slide {
    height: auto;
  }
}

.center-carousel--overflow {
	.slick-list {
		overflow: visible;
		margin: 0 -12px;
	}
	.center-carousel__slide {
		margin: 0 12px;
		opacity: 0.5;
		pointer-events: none;
		transition: opacity 0.3s;
		&.slick-current {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.center-carousel__slide {
	@extend %position-relative;
}

.center-carousel__video-btn {
	@extend %position-absolute;
	top: 46%;
	left: calc(50% - 27px);
	@include media('below-tablet') {
		left: calc(50% - 15px);
	}
}



.center-carousel__container {
	@extend %position-absolute;
	@extend %full-width;
	@extend %full-height;
	@extend %text--center;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	color: $white;
	@include media('below-tablet') {
		position: relative;
		padding: 16px 0;
		color: $default-color;
	}
	&.center-carousel__container--bottom {
		align-items: flex-end;
	}
}

.center-carousel__content {
	&.center-carousel__content--small {
		@include media('above-tablet') {
			max-width: 416px;
			margin-bottom: 32px;
		}
	}
}

.center-carousel__comma {
	font-size: 30px;
	margin-bottom: 32px;
	@include media('below-tablet') {
		font-size: 20px;
		margin-bottom:16px;
	}
}

.center-carousel__heading {
	@extend %last-no-margin;
	margin-bottom: 16px;
	@include media('above-tablet') {
		font-size: 1.625em;
	}
	@include media('below-tablet') {
		font-size: 1.2em;
	}
}

.center-carousel__quote {
	@extend %font-m-20;
	line-height: 1.2em;
	margin-bottom: 32px;
	@include media('below-small') {
		font-size: 1.1em;
	}
}

.center-carousel__source {
	color: $gray-6;
}

.center-carousel__country {
	@extend %uppercase;
	@extend %font-b-14;
	margin-bottom: 16px;
	@include media('above-tablet') {
		color: $white;
	}
	@include media('below-tablet') {
		margin-bottom: 8px;
	}
}

.center-carousel__tour {
	font-size: 1.625em;
	@include media('above-tablet') {
		color: $white;
	}
	@include media('below-tablet') {
		font-size: 1.2em;
	}
}


.center-carousel__controls {
	@extend %flex-between;
	@extend %full-width;
	bottom: 0;
}

.center-carousel__dots {
	@extend %c-dots
}

.center-carousel__icon {
	@extend %block;
	font-size: 12px;
	color: $blue-gray;
	transition: all 0.3s;
}

.carousel--center {
	.center-carousel__controls {
		@extend %position-absolute;
		padding: 16px;
		@include media('below-tablet') {
			position: relative;
			padding: 8px 0;
		}
	}
}

.carousel--left {
	.center-carousel__slide {
		&.center-carousel__slide--dark {
			@include media('above-tablet') {
				&:before {
					position: absolute;
					content: "";
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					background: linear-gradient(256.44deg, rgba($black,0) 0%, rgba($black, .3) 100%);
				}
			}
		}
	}
	.center-carousel__container {
		@extend %text--left;
		width: 58%;
		padding-left: 40px;
		color: $black;
		@include media('below-tablet') {
			width: 100%;
			padding: 16px 0;
			color: $default-color;
		}
	}
	.center-carousel__controls {
		padding: 16px 0;
		@include media('below-tablet') {
			padding: 8px 0;
		}
	}
}

.center-carousel__link {
	position: relative;
	@include media('above-tablet') {
		&:before {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(256.44deg, rgba($black,0) 0%, rgba($black, .3) 100%);
		}
	}
}
