.img-card-carousel {
	@include c-c-arrow(img-card-carousel);
	.slick-list {
		margin: 0 -12px;
	}
	.img-card__container {
		min-height: 312px;
	}
}

.img-card-carousel__slide {
	padding: 12px;
}

.img-card-carousel__controls {
	@extend %flex-between;
	@extend %full-width;
	padding: 16px;
}

.img-card-carousel__dots {
	@extend %c-dots;
}

