.product-carousel {
	.product-carousel {
		position: relative;
	}
}

.product-carousel__btn {
	@extend %position-absolute;
	padding: 8px;
	top: calc(50% - 24px);
	&--prev {
		left: 0;
	}
	&--next {
		right: 0;
	}
}

.product-carousel__icon {
	font-size: 32px;
}
