.svg-arrow-down {
	background: url("svg/sprite.css-9285fe3c.svg") 25% 0 no-repeat;
}

.svg-arrow-down-dims {
	width: 100px;
	height: 100px;
}

.svg-arrow-left {
	background: url("svg/sprite.css-9285fe3c.svg") 75% 33.333333333333336% no-repeat;
}

.svg-arrow-left-dims {
	width: 100px;
	height: 100px;
}

.svg-arrow-right {
	background: url("svg/sprite.css-9285fe3c.svg") 0 33.333333333333336% no-repeat;
}

.svg-arrow-right-dims {
	width: 100px;
	height: 100px;
}

.svg-arrow-up {
	background: url("svg/sprite.css-9285fe3c.svg") 25% 33.333333333333336% no-repeat;
}

.svg-arrow-up-dims {
	width: 100px;
	height: 100px;
}

.svg-bag {
	background: url("svg/sprite.css-9285fe3c.svg") 50% 0 no-repeat;
}

.svg-bag-dims {
	width: 100px;
	height: 100px;
}

.svg-blog {
	background: url("svg/sprite.css-9285fe3c.svg") 50% 33.333333333333336% no-repeat;
}

.svg-blog-dims {
	width: 100px;
	height: 100px;
}

.svg-chat {
	background: url("svg/sprite.css-9285fe3c.svg") 0 66.66666666666667% no-repeat;
}

.svg-chat-dims {
	width: 100px;
	height: 100px;
}

.svg-check {
	background: url("svg/sprite.css-9285fe3c.svg") 25% 66.66666666666667% no-repeat;
}

.svg-check-dims {
	width: 100px;
	height: 100px;
}

.svg-check-2 {
	background: url("svg/sprite.css-9285fe3c.svg") 50% 66.66666666666667% no-repeat;
}

.svg-check-2-dims {
	width: 100px;
	height: 100px;
}

.svg-check-3 {
	background: url("svg/sprite.css-9285fe3c.svg") 75% 0 no-repeat;
}

.svg-check-3-dims {
	width: 100px;
	height: 100px;
}

.svg-circle-play {
	background: url("svg/sprite.css-9285fe3c.svg") 0 0 no-repeat;
}

.svg-circle-play-dims {
	width: 100px;
	height: 100px;
}

.svg-clip {
	background: url("svg/sprite.css-9285fe3c.svg") 75% 66.66666666666667% no-repeat;
}

.svg-clip-dims {
	width: 100px;
	height: 100px;
}

.svg-collapse {
	background: url("svg/sprite.css-9285fe3c.svg") 0 100% no-repeat;
}

.svg-collapse-dims {
	width: 100px;
	height: 100px;
}

.svg-comma {
	background: url("svg/sprite.css-9285fe3c.svg") 25% 100% no-repeat;
}

.svg-comma-dims {
	width: 100px;
	height: 100px;
}

.svg-cross {
	background: url("svg/sprite.css-9285fe3c.svg") 50% 100% no-repeat;
}

.svg-cross-dims {
	width: 100px;
	height: 100px;
}

.svg-doc {
	background: url("svg/sprite.css-9285fe3c.svg") 75% 100% no-repeat;
}

.svg-doc-dims {
	width: 100px;
	height: 100px;
}

.svg-dots {
	background: url("svg/sprite.css-9285fe3c.svg") 100% 0 no-repeat;
}

.svg-dots-dims {
	width: 100px;
	height: 100px;
}

.svg-download {
	background: url("svg/sprite.css-9285fe3c.svg") 100% 33.333333333333336% no-repeat;
}

.svg-download-dims {
	width: 100px;
	height: 100px;
}

.svg-earth {
	background: url("svg/sprite.css-9285fe3c.svg") 100% 66.66666666666667% no-repeat;
}

.svg-earth-dims {
	width: 100px;
	height: 100px;
}

.svg-enlarge {
	background: url("svg/sprite.css-9285fe3c.svg") 100% 100% no-repeat;
}

.svg-enlarge-dims {
	width: 100px;
	height: 100px;
}

