.account-section {
	.search-dropdown {
		@extend %inline--middle;
		width: 385px;
		@include media('below-small') {
			width: 270px;
		}
		@include media('below-tablet') {
			width: 100%;
		}
	}
}

.account-section__top {
	@extend %flex-between;
	.simple-icon-btn__text {
		font-weight: $weight-b;
	}
	@include media('below-tablet') {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.account-section__border-btn,
		.simple-icon-btn {
			margin-top: 8px;
		}
	}
	&.tags-control {
		margin: 24px 0;
		@include media('below-tablet') {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	+ .border-table {
		margin-top: 32px;
	}
}



.account-section__heading {
	font-size: 1.625em;
	font-weight: $weight-b;
	color: $gray-6;
	i {
		@extend %inline--middle;
		margin-right: 8px;
	}
	span {
		display: inline-block;
		font-size: 14px;
		margin-left: 4px;
	}
}

.account-section__tabs {
	margin-bottom: 24px;
}

.account-section__tab {
	@extend %inline--middle;
	margin-right: 16px;
	&:last-child {
		margin-right: 0;
	}
}

.account-section__tab-link {
	@extend %position-relative;
	padding: 16px 4px;
	color: $gray-5;
	transition: color 0.3s;
	&.is-active {
		color: $black;
		pointer-events: none;
		&:before {
			opacity: 1;
		}
	}
	@include media('above-desktop') {
		&:hover {
			color: $black;
			&:before {
				opacity: 1;
			}
		}
	}
	&:before {
		@extend %position-absolute;
		width: 100%;
		height: 3px;
		background-color: $main-color;
		content: '';
		bottom: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.3s;
	}
}

.account-section__check {
	@extend %inline--middle;
	color: $main-color;
	font-size: 28px;
	margin-left: 16px;
}

.account-section__border-block {
	border: 1px solid $gray-1;
	padding: 32px;
	background-color: $white-light;
	@include media('below-tablet') {
		padding: 16px;
	}
	& + .account-section__border-block {
		border-top: none;
	}
	.pw-form {
		display: none;
	}
	&.is-active {
		.js-extand-pw,
		.account-section__detail,
		.account-section__block-note {
			display: none;
		}
		.pw-form {
			display: block;
		}
	}
}

.account-section__cancel-btn {
	@include text-hover($main-color);
	margin-left: 8px;
}

.account-section__block-heading {
	@extend %font-m-14;
	display: flex;
	align-items: center;
	color: $gray-5;
	margin-bottom: 16px;
	font-weight: $weight-b;
	button {
		@include text-hover($main-color);
		margin-left: 16px;
		font-weight: $weight-m;
	}
}

.account-section__detail {
	@extend %font-m-20;
	@extend %last-no-margin;
	margin-bottom: 40px;
}

.account-section__block-note {
	@extend %font-m-14;
	color: $gray-5;
	line-height: 1.3em;
}

.account-section__table {
	border-top: 1px solid $gray-4;
	padding-top: 24px;
	overflow-x: auto;
	min-height: 40vh;
	.border-table {
		min-width: 736px;
		td {
			vertical-align: top;
		}
	}
	&.account-section__table--tag {
		border-top: none;
		padding-top: 0;
	}
	.basic-form__checkbox {
		&:checked {
			+ .basic-form__checkbox-label {
				border: 1px solid $main-color;
			}
		}
	}
	.basic-form__checkbox-label {
		border: 1px solid $gray-5;
		width: 14px;
    height: 14px;
		top: calc(50% - 7px);
		&:after {
			width: 8px;
			left: 2px;
			top: 2px;
			height: 5px;
			border-width: 1px;
		}
	}
	.basic-form__checkbox-list {
		margin-left: 4px;
	}
}

.account-section__table--tag {
	.border-table {
		background-color: $white;
	}
	th {
		padding-top: 16px;
	}
	thead tr {
		border-bottom: 1px solid $gray-3;
	}
	th,
	td {
		&:nth-child(1) {
			padding-left: 24px;
		}
	}
	tr:last-child td {
		padding-bottom: 16px;
	}
}

.account-section__table--saved {
	padding-bottom: 100px;
	.tag-btn {
		margin: 0 4px 8px 0;
	}
	.border-btn--dash {
		margin-bottom: 8px;
	}
	td {
		&:hover {
			.account-section__edit-tag {
				opacity: 1;
			}
		}
	}
	.border-table__tr {
		&.is-active {
			.js-status-btn {
				pointer-events: none;
			}
			.edit-tags-block {
				padding: 16px 8px;
				height: auto;
				opacity: 1;
			}
			.account-section__edit-tag {
				opacity: 1;
				background-color: $gray-0;
				align-self: stretch;
				display: flex;
				flex-direction: column;
				.simple-icon-btn__icon {
					top: 6px;
				}
				.simple-icon-btn__text {
					transform: translateY(1px);
				}
			}
		}
		&.is-locked {
			.js-status-btn,
			.js-update-tags {
				pointer-events: none;
			}
			.border-table__td {
				&:hover {
					.account-section__edit-tag {
						@include media('above-desktop') {
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

.account-section__table--rma-doa {
	.border-table {
		min-width: 1024px;
	}
}

.account-section__table--technical {
	.border-table {
		min-width: 730px;
	}
}

.account-section__table--updates {
	border-top: none;
	overflow-y: hidden;
	padding-bottom: 100px;
	td {
		@extend %position-relative;
	}
	th td {
		padding-right: 32px;
	}
}

.account-section__filters {
	@include media('below-small') {
		display: flex;
		flex-direction: column;
	}
	@include media('below-tablet') {
		width: 100%;
	}
}

.account-section__filter {
	@extend %inline--middle;
	margin-right: 8px;
	@include media('below-small') {
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include media('below-tablet') {
		width: 100%;
		margin-right: 0;
		&:last-child {
			margin-bottom: 16px;
		}
	}
	.basic-form__select-wrap {
		@extend %inline--middle;
	}
	.basic-form__select-wrap {
		@include media('below-tablet') {
			width: 100%;
		}
	}
}

.account-section__filter-heading {
	@extend %font-b-14;
	@extend %uppercase;
	@extend %inline--middle;
	margin-right: 8px;
	@include media('below-tablet') {
		display: block;
		margin-right: 0;
		margin-bottom : 4px;
	}
}

.account-section__tags-deisply {
	display: flex;
	align-items: flex-start;
}

.account-section__tags {
	flex-grow: 1;
	.tag-btn {
		margin-bottom: 4px;
	}
}

.account-section__edit-tag {
	padding: 4px;
	transition: all 0.3s!important;
	@include media('above-desktop') {
		opacity: 0;
	}
}

.account-section__btns {
	.simple-icon-btn {
		@include media('above-tablet') {
			margin-left: 24px;
		}
		@include media('below-tablet') {
			margin-bottom: 16px;
		}
	}
}

.account-section__search {
	border-top: 1px solid $gray-1;
	padding: 20px 0;
	display: none;
	.inline-search {
		@extend %inline--middle;
		margin-top: 0;
	}
	.fill-btn.fill-btn--m {
		padding: 8px 16px;
	}
}

.account-section__search-wrap {
	@extend %inline--middle;
	margin-right: 16px;
	&:last-child {
		margin-right: 0;
	}
	@include media('below-small') {
		margin: 8px 0;
	}
	@include media('below-tablet') {
		width: 100%;
	}
	.account-section__filter-heading,
	.basic-form__select-wrap {
		@extend %inline--middle;
	}
	.inline-search {
		@include media('above-tablet') {
			display: inline;
		}
	}
	.inline-search__input {
		height: 38px;
		width: 200px;
	}
	.inline-search__btn {
		transform: translate(-5px, -1px);
	}
	.basic-form__select[name="status"] {
		width: 200px;
	}
	.basic-form__select-wrap {
		@include media('above-desktop') {
			min-width: 110px;
		}
	}
}

.account-section__unsaved-wrap {
	@extend %position-fixed;
	@extend %full-width;
	@extend %text--center;
	top: 160px;
	left: 0;
	z-index: 20;
	display: none;
}

.account-section__unsaved-block {
	@extend %inline--middle;
	@extend %text--center;
	color: $white;
	background-color: $gray-6;
	padding: 20px 24px;
	@include media('below-desktop') {
		top: 120px;
	}
	> span {
		font-size: 1.5em;
		margin-right: 8px;
	}
	.simple-icon-btn {
		transform: translateY(-4px);
		&.simple-icon-btn--main {
			@include text-hover($green-light);
		}
	}
	.simple-icon-btn__icon {

	}
}

.account-section__no-result {
	@extend %font-m-32;
	color: $gray-4;
	font-weight: $weight-l;
}

.account-section__updates {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	> div {
		flex-grow: 1;
		h4 {
			font-size: 16px;
			margin-bottom: 4px;
		}
		span {
			color: $gray-6;
		}
	}
}

.account-section__border-btn {
	min-width: 105px;
	font-size: 14px;
	padding: 4px 8px;
	&.border-btn {
		text-transform: none;
	}
	&.border-btn--main {
		border: 1px solid $main-color;
	}
}

.account-section-status {
	padding: 24px 0;
	background-color: $gray-0;
	h4, h3, p {
		@extend %inline--middle;
	}
	h4 {
		color: $gray-6;
		font-weight: $weight-b;
	}
	h3 {
		font-weight: $weight-b;
	}
	p {
		@extend %font-m-14;
		@include media('above-small') {
			margin-left: 8px;
		}
		@include media('below-small') {
			margin-top: 8px;
		}
	}
}

.account-section__pagination {
	@extend %position-absolute;
	@extend %full-width;
	bottom: 48px;
	left: 0;
}
