.galaxy-section {
	@extend %position-relative;
	color: $white;
	@include media('above-tablet') {
		padding: 64px 0;
	}
	@include media('below-tablet') {
		padding: 32px 0;
	}
}

.galaxy-section__heading {
		@extend %text--center;
		font-weight: $weight-b;
		font-size: 1.625em;
    margin-bottom: 40px;
}

.galaxy-section__container {
    display: flex;
		align-items: center;
		justify-content: space-around;
		@include media('below-tablet') {
			flex-direction: column;
		}
}

.galaxy-section__block {
    @extend %text--center;
		@include media('above-tablet') {
			padding: 0 12px;
		}
		@include media('below-tablet') {
			padding: 0;
			margin-bottom: 16px;
		}
}

.galaxy-section__number {
	@extend %block;
	@include media('above-small') {
		@include font($base-font, $weight-l, 4.375em);
	}
	@include media('below-small') {
		@include font($base-font, $weight-l, 3.5em);
	}
	@include media('above-tablet') {
		margin-bottom: 40px;
	}
	@include media('below-tablet') {
		margin-bottom: 0;
		font-size: 2.5em;
	}
}

.galaxy-section__subheading {
    @extend %block;
    @extend %full-width;
    @extend %align--center;
    @include font($base-font, $weight-b, 1em, 1px);
    max-width: 130px;
}

.galaxy-bg {
    @extend %position-absolute;
    @extend %full-width;
    @extend %full-height;
    @extend %background-cover;
    top: 0;
    left: 0;
}

.galaxy-bg--blue {
    background-image: linear-gradient(to top, #0F89A8 0%, #337FB9 70%);
}

.galaxy-bg--white {
    background-color: #FAFDFD;
}
