.basic-checkbox__checkbox-wrap {
	@extend %position-relative;
	display: inline-block;
	margin-bottom: 16px;

	@include media('below-mobile') {
		display: flex;
	}

	&.with-xtr-margin-btm {
		margin-bottom: 40px;
	}
	label {
		cursor: pointer;
	}
}

.basic-checkbox__checkbox {
	@extend %position-absolute;
	@extend %full-height;
	cursor: pointer;
	opacity: 0;
	width: 20px;
	&.checkbox-full {
		@extend %full-width;
	}
	&:checked+.basic-checkbox__checkbox-label {
		border: 2px solid $main-color;
		&:after {
			opacity: 1;
		}
	}
}

.basic-checkbox__checkbox-label {
	@extend %position-relative;
	@extend %inline--middle;
	cursor: pointer;
	width: 20px;
	height: 20px;
	top: calc(50% - 10px);
	left: 0;
	margin-right: 8px;
	border: 2px solid $gray-3;
	pointer-events: none;
	&:after {
		@extend %position-absolute;
		opacity: 0;
		content: '';
		width: 11px;
		height: 7px;
		top: 3px;
		left: 3px;
		border: 2px solid $main-color;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
	}
}

.basic-checkbox__checkbox-text {
	@extend %font-m-14;
}

.basic-checkbox__note {
	@extend %font-m-14;
	color: $red;
	margin-bottom: 16px;
}
