.notify-checkbox {
	@extend %position-relative;
	@extend %full-width;
}

.notify-checkbox__input {
	@extend %position-absolute;
	@extend %full-height;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	&:checked + .notify-checkbox__label {
		border: 1px solid $main-color;
		&:after {
			opacity: 1;
		}
	}
}

.is-indeterminate {
	@extend %position-absolute;
	width: 8px;
	left: 3px;
	height: 1px;
	top: 10px;
	background-color: $main-color;
	display: none;
}

.notify-checkbox__label {
	@extend %position-relative;
	@extend %inline--middle;
	pointer-events: none;
	width: 14px;
	height: 14px;
	top: calc(50% - 7px);
	left: 0;
	border: 1px solid $gray-5;
	margin-right: 4px;
	&.is-active {
		border: 1px solid $main-color;
	}
	&:after {
		@extend %position-absolute;
		opacity: 0;
		content: '';
		width: 8px;
		left: 2px;
		border: 1px solid $main-color;
		border-top: none;
		border-right: none;
		top: 2px;
		height: 5px;
		transform: rotate(-45deg);
	}
}

.notify-checkbox-wrap {
	@extend %position-absolute;
	padding: 8px 8px 16px;
	border: 1px solid transparent;
	transition: all 0.3s;
	top: 8px;
	&:hover {
		border: 1px solid $gray-1;
		background-color: $white;
		.notify-checkbox-sublist {
			opacity: 1;
			pointer-events: auto;
		}

	}
}

.notify-checkbox-sublist {
	@extend %position-absolute;
	background-color: $white;
	border: 1px solid $gray-1;
	top: 35px;
	left: -1px;
	z-index: 5;
	width: 157px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	padding: 8px;
	h4 {
		@extend %font-b-14;
		color: $gray-4;
		margin-bottom: 16px;
	}
	ul {
		padding-left: 8px;
	}
	li {
		@extend %last-no-margin;
		margin-bottom: 8px;
	}
}
