.print-form__title {
  margin-bottom: 16px;
}

.print-form__heading {
  @extend %inline--middle;
  @extend %font-b-18;
	@include media('below-tablet') {
		margin-bottom: 8px;
	}
}

.print-form__note {
  @extend %inline--middle;
  color: $gray-5;
	@include media('above-tablet') {
		margin-left: 16px;
	}
}

.print-form__container {
  @extend %lost-clear;
}

.print-form__group {
  lost-column: 1/2 2;
  margin-bottom: 16px;
	float: left!important;
	@include media('below-tablet') {
		lost-column: 1/1;
	}
  &.print-form__group--full {
    @extend %full-width;
  }
}

.print-form__label {
  @extend %inline--middle;
  @extend %font-m-14;
  width: 115px;
	color: $gray-6;
	@include media('below-tablet') {
		width: 100%;
	}
}

.print-form__block {
  @extend %inline--middle;
  width: calc(100% -  120px);
  border: 1px solid $gray-2;
	@include media('above-tablet') {
		min-height: 50px;
		padding: 16px;
	}
	@include media('below-tablet') {
		width: calc(100% -  83px);
		padding: 8px;
		font-size: 0.875em;
	}
}
