.basic-tag {
  @extend %position-absolute;
  color: $white;
  background-color: $main-color;
  padding: 4px 8px;

  &.basic-tag--relative {
    @extend %position-relative;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.basic-tag--orange {
    background-color: $orange;
  }
}