.ocean-top-card {
  @extend %position-relative;
  padding: 24px;
  background-color: $white;
  height: 330px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
	@include media('below-tablet') {
		padding: 16px;
	}
  &:before {
    @extend %position-absolute;
    @extend %full-width;
    height: 8px;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(90deg, $blue 30%, $sub-color 120%);
  }

  &.ocean-top-card--shadow {
    box-shadow: 0 5px 8px 0 rgba($black, .12);
  }

  @include media('above-desktop') {
		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 10px 16px 0 rgba($black, .12);
		}
	}
}

.ocean-top-card__heading {
	font-size:  1.625em;
  margin-bottom: 16px;
  @include media('below-mobile') {
    font-size: 1.5em;
  }
}

.ocean-top-card__icons {
  margin-bottom: 24px;
}

.ocean-top-card__icon{
	font-size: 22px;
	margin-right: 8px;
	&:last-child {
		margin-right: 0;
	}
}

.ocean-top-card__pargarph {
  @extend %font-m-14;
  @include media('below-small') {
    line-height: 1.25em;
  }
  @include media('below-tablet') {
    font-size: 1em;
  }
}

.ocean-top-card__btn {
  @extend %position-absolute;
	bottom: 24px;
  right: 24px;

  @include media('below-small') {
    right: auto;
    left: 24px;
  }
}

.ocean-top-card__img {
	margin-bottom: 24px;
}

.ocean-top-card--center {
	@extend %text--center;
	height: auto;
	.ocean-top-card__heading {
		flex-grow: 1;
	}
}
