.product-section {
	background-color: $white;
	padding: 32px 0;
}

.product-section__img {
	@extend %inline--middle;
	max-width: 300px;
	margin-right: 32px;
}

.product-section__container {
	@extend %inline--middle;
	width: calc(100% - 340px);
}

.product-section__subheading {
	font-size: 1.375em;
	font-weight: $weight-b;
	margin-bottom: 8px;
}

.product-section__heading {
	font-size: 1.75em;
	font-weight: $weight-b;
	margin-bottom: 8px;
	color: $main-color;
}

.product-section__paragraph {
	@extend %font-b-18;
}

.modal {
	.product-section {
		padding: 16px 16px;
	}
	.product-section__img {
		max-width: 170px;
	}
	.product-section__container {
		width: calc(100% - 210px);
	}
	.product-section__subheading {
		font-size: 0.75em;
	}
	.product-section__heading {
		@extend %font-m-20;
	}
	.product-section__paragraph {
		@extend %font-m-14;
	}
}
