.full-banner {
	@extend %position-relative;
	@extend %background-cover;
	@extend %flex-center;
	@extend %text--center;
	height: calc(100vh - #{$header});
	.galaxy-bg {
		@extend %position-fixed;
	}
	@include media('below-tablet') {
		height: 400px;
	}
}

.full-banner__icon {
	@extend %align--center;
	max-width: 130px;
	margin-bottom: 56px;
	@include media('below-tablet') {
		max-width: 70px;
		margin-bottom: 32px;
	}
}

.full-banner__subheading {
	@extend %uppercase;
	font-weight: $weight-b;
	margin-bottom: 24px;
}

.full-banner__heading {
	font-weight: $weight-l;
	font-size: 3.125em;
	color: $blue;
	@include media('below-tablet') {
		font-size: 1.6em;
	}
}

.full-banner__btn {
	@extend %position-absolute;
	@extend %flex-center;
	transition: all 0.3s;
	flex-direction: column;
	bottom: 32px;
	width: 56px;
	height: 56px;
	left: calc(50% - 28px);
	border-radius: 50%;
	border: 2px solid $gray-3;
	color: $gray-3;
	@include media('above-desktop') {
		&:hover {
			border: 2px solid $gray-4;
			color: $gray-4;
		}
	}
	@include media('below-tablet') {
		left: calc(50% - 20px);
		width: 40px;
		height: 40px;
	}
	span {
		@extend %block;
		font-size: 0.625em;
		@include media('above-tablet') {
			margin-bottom: 4px;
		}
	}
}
