.hero-banner {
	@extend %position-relative;
	@extend %flex;
	align-items: center;
	&.hero-banner--img,
	&.hero-banner--video {
		@extend %background-cover;
		color: $white;
		@include media('above-tablet') {
			padding: 64px 0;
			height: 440px;
			&.hero-banner--s {
				align-items: flex-end;
				height: 240px;
			}
		}
		@include media('below-tablet') {
			padding: 48px 0 24px;
			height: 250px;
		}
		&:not(.-no-shadow) {
			&:before {
				@extend %position-absolute;
				@extend %full-width;
				@extend %full-height;
				content: '';
				top: 0;
				left: 0;
				background: linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, 0) 50%, rgba($black, 0.8) 100%);
			}
		}
		&.hero-banner--l {
			align-items: flex-end;
		}
		&.hero-banner--pop {
			&:before {
				background: rgba($black, 0.2);
			}
		}
	}
	&.hero-banner--video {
		@extend %background-cover;
		overflow: hidden;
		@include media('above-tablet') {
			background-image: none!important;
		}
		&:before {
			z-index: 5;
		}
		.container {
			z-index: 10;
		}
	}
	&.hero-banner--img-light {
		@extend %background-cover;
		color: $white;
		height: 440px;
		padding: 64px 0;
		& .hero-banner__subheading {
			color: $black;
		}
		& .hero-banner__heading {
			color: $blue;
		}
		& .hero-banner__paragraph {
			color: $black;
		}
	}
	&.hero-banner--l {
		height: 240px;
		padding: 40px 0;
		@include media('below-tablet') {
			height: auto;
			padding: 48px 0 24px;
		}
	}
	&.hero-banner--s {
		padding: 40px 0;
		@include media('above-tablet') {
			height: 180px;
		}
		@include media('below-tablet') {
			height: auto;
			padding: 48px 0 24px;
		}
	}
	&.hero-banner--main {
		background-color: $main-color;
		align-items: flex-end;
		color: $white;
	}
	&.-text-black {
		color: $black;
	}
	&.hero-banner--gray {
		background-color: $gray-4;
		align-items: flex-end;
		color: $white;
	}
	&.hero-banner--white {
		background-color: $white;
		align-items: flex-end;
		color: $blue;
		&:not(.hero-banner--border) {
			+ .main-section--white {
				padding-top: 0;
			}
		}
	}
	&.hero-banner--center {
		@extend %text--center;
	}
	&.hero-banner--end {
		-ms-flex-direction: row;
		align-items: flex-end;
	}
	&.hero-banner--side {
		.hero-banner__subheading,
		.hero-banner__heading,
		.hero-banner__paragraph,
		.hero-banner__btn {
			@include media('above-tablet') {
				lost-column: 2/3 0 0;
			}
			@include media('below-tablet') {
				lost-column: 1/1;
			}
		}
	}
	&.hero-banner--border {
		border-bottom: 1px solid $gray-1;
	}

}

.hero-banner__container {
	@include media('above-tablet') {
		lost-column: 6/13 0 0;
	}
	@include media('below-tablet') {
		lost-column: 1/1;
	}
}

.hero-banner--special {
	align-items: flex-end;
	height: 280px;
	@include media('below-tablet') {
		height: auto;
		padding: 24px 0;
	}
	.hero-banner__subheading {
		color: $blue;
	}
}

.hero-banner__icon {
	@extend %position-absolute;
	right: 0;
	bottom: -32px;
	width: 220px;
	opacity: 0.2;
	mix-blend-mode: multiply;
	@include media('below-tablet') {
		width: 120px;
		bottom: -22px;
	}
}

.hero-banner__subheading {
	@extend %font-b-18;
	margin-bottom: 8px;
	.hero-banner--white & {
		color: $black;
	}
}

.hero-banner__heading {
	@extend %last-no-margin;
	@include media('above-tablet') {
		font-weight: $weight-l;
		font-size: 3.125em;
		margin-bottom: 12px;
	}
	@include media('below-tablet') {
		font-weight: $weight-l;
		font-size:  1.6em;
		margin-bottom: 16px;
	}
	.hero-banner--s & {
		@include media('above-small') {
			font-weight: $weight-l;
			font-size:  2.5em;
		}
		@include media('below-small') {
			font-weight: $weight-l;
			font-size:  2em;
		}
		@include media('below-tablet') {
			font-weight: $weight-l;
			font-size:  1.5em;
		}
	}
	&.hero-banner__heading--m {
		font-size: 2.5em;
		@include media('below-small') {
			font-size: 1.4em;
		}
	}
	&.hero-banner__heading--s {
		font-weight: $weight-m;
		font-size:  2em;
	}
	&.-bold {
		font-weight: $weight-b;
	}
}

.hero-banner__description {
	@extend %last-no-margin;
	@extend %font-m-18;
	margin-bottom: 24px;
}

.hero-banner__paragraph {
	@extend %last-no-margin;
	@extend %font-m-20;
	margin-bottom: 24px;
	@include media('below-tablet') {
		font-size: 1.125em;
	}
}

.hero-banner__video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	@include media('below-tablet') {
		display: none;
	}
}
