.rich-content-banner {
	@extend %position-relative;
	@extend %full-view-height;
	// @extend %flex-center;
	// align-items: flex-end;
	height: auto;
	padding: 64px 0 24px;
	@include media('below-tablet') {
		padding: 40px 0;
	}
}

.rich-content-banner--main {
	@extend %lost-clear;
}

.rich-content-banner--left {
	@include media('above-tablet') {
		lost-column: 8/12;
		lost-move: -4/12;
	}
}

.rich-content-banner--right {
	@include media('above-tablet') {
		lost-column: 4/12;
		lost-move: 8/12;
	}
	@include media('below-tablet') {
		margin-bottom: 16px;
	}
}

.rich-content-banner__subheading {
	font-size: 1.5em;
	font-weight: $weight-b;
	color: $blue;
	margin-bottom: 16px;
}

.rich-content-banner__heading {
	font-size: 2em;
	font-weight: $weight-b;
	color: $green;
	margin-bottom: 24px;
	@include media('below-tablet') {
		margin-bottom: 8px;
	}
	@include media('below-mobile') {
		font-size: 1.625em;
	}
}

.rich-content-banner__paragraph {
	@extend %font-m-14;
}
