.model-table-heading {
	@extend %font-b-18;
	color: $gray-5;
}

.model-table {
	@extend %block;
	min-width: 920px;
	th, td {
		width: 20%;
		padding: 16px 24px 16px 0;
	}
	th {
		@extend %text--left;
		a:not(.tag-btn) {
			@extend %font-b-18;
			margin-top: 24px;
			min-width: 188px;
			@include media('below-desktop') {
				min-width: 163px;
			}
			@include media('below-tablet') {
				min-width: 0;
			}
		}
	}
	td {
		border-top: 1px solid $gray-1;
		&:first-child {
			font-family: $base-font;
			font-weight: $weight-b;
			color: $gray-6;
		}
		&.model-table--no-line {
			border-top: none;
		}
		li {
			@extend %last-no-margin;
			margin-bottom: 8px;
		}
	}
	& + .model-table {
		padding-top: 16px;
		border-top: 1px solid $gray-1;
		margin-top: 8px;
	}
}

.model-table__img {
	width: auto;
	max-width: 100%;
	display: none;
	&.is-active {
		display: block;
	}
}

.model-table__btn {
	@extend %block;
	margin-bottom: 8px;
	opacity: 0;
	transition: opacity 0.3s;
	&.is-active,
	&.static-active {
		opacity: 1;
	}
	@include media('below-desktop') {
		opacity: 1;
	}
	.tag-btn {
		@extend %inline--middle;
	}
}

.model-table__cta-btn {
	@extend %text--center;
	@extend %full-width;
	@include text-hover($main-color);
	margin-top: 16px;
}
