.drag-slider__heading {
	@extend %inlineblock;
}

.drag-slider--one-result {
	color: $green;
	float: right;
}

.drag-slider__two-result {
	color: $green;
	float: right;
}

.drag-slider__wrapper {
	@extend %last-no-margin;
	position: relative;
	margin-bottom: 32px;
}

.drag-slider__rangebar {
	@extend %position-absolute;
	@extend %full-width;
	background: $green;
	height: 4px;
	top: 33px;
	pointer-events: none;
	cursor: pointer;
	z-index: 1;
	border-radius: 10px;
}

.drag-slider__rangebar-oneway {
	@extend %position-absolute;
	width: 0;
	background: $green;
	height: 4px;
	top: 33px;
	pointer-events: none;
	cursor: pointer;
	z-index: 1;
	border-radius: 10px;
}

.drag-slider__bottom {
	@extend %full-width;
	@extend %position-absolute;
	height: 4px;
	top: 32px;
	background: $gray-2;
	border-radius: 10px;
	z-index: 0;
}

.drag-slider__num {
	@extend %inlineblock;
	@extend %position-relative;
	color: $gray-4;
}

.drag-slider__num--min {
	&.is-active {
		color: $gray-6;
	}
}

.drag-slider__num--max {
	float: right;
	&.is-active {
		color: $gray-6;
	}
}

.drag-slider--between {
	@extend %position-absolute;
	color: $gray-6;
	left: 0;
	top: 48px;
	z-index: 3;
}

.drag-slider--small {
	@extend %position-absolute;
	color: $gray-6;
	left: 0;
	top: 48px;
	z-index: 3;
}

.drag-slider--big {
	@extend %position-absolute;
	color: $gray-6;
	left: 100%;
	top: 48px;
	z-index: 3;
}

.drag-slider__bar {
	@extend %full-width;
	position: relative;
	z-index: 9;
	pointer-events: none;
	height: 16px;
	-webkit-appearance: none;
	margin: 10px 0;
	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
		height: 4px;
		cursor: pointer;
		background: transparent;
	}
	&::-webkit-slider-thumb {
		position: relative;
		pointer-events: auto;
		border: 4px solid $white;
		border-radius: 50%;
		z-index: 9;
		height: 14px;
		width: 14px;
		background: $green;
		box-shadow: 0 0 3px 0 $gray-5;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -4px;
	}
	&:focus::-webkit-slider-runnable-track {
		background: transparent;
	}
	&::-moz-range-track {
		height: 4px;
		cursor: pointer;
		background: transparent;
	}
	&::-moz-range-thumb {
		pointer-events: auto;
		border: 4px solid $white;
		border-radius: 50%;
		z-index: 9;
		height: 6px;
		width: 6px;
		background: $green;
		cursor: pointer;
		box-shadow: 0 0 3px 0 $gray-5;
	}
	&::-moz-focus-outer {
		border: 0;
	}
	&::-ms-track {
		height: 4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: transparent;
	}
	&::-ms-fill-upper {
		background: transparent;
	}
	&::-ms-thumb {
		pointer-events: auto;
		border: 4px solid $white;
		box-shadow: 0 0 3px 0 $gray-5;
		border-radius: 50%;
		z-index: 9;
		height: 14px;
		width: 14px;
		background: $green;
		cursor: pointer;
	}
	&:focus::-ms-fill-lower {
		background: transparent;
	}
	&:focus::-ms-fill-upper {
		background: transparent;
	}
}

.drag-slider__bar-2 {
	position: absolute;
	left: 0;
	top: 16px;
	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
		height: 2px;
		cursor: pointer;
		background: transparent;
	}
	&::-webkit-slider-thumb {
		position: relative;
		pointer-events: auto;
		border: 4px solid $white;
		border-radius: 50%;
		z-index: 9;
		height: 14px;
		width: 14px;
		background: $green;
		box-shadow: 0 0 3px 0 $gray-5;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -4px;
	}
	&:focus::-webkit-slider-runnable-track {
		background: transparent;
	}
	&::-moz-range-track {
		height: 4px;
		cursor: pointer;
		background: transparent;
	}
	&::-moz-range-thumb {
		pointer-events: auto;
		border: 4px solid $white;
		border-radius: 50%;
		z-index: 9;
		height: 6px;
		width: 6px;
		background: $green;
		cursor: pointer;
		box-shadow: 0 0 3px 0 $gray-5;
	}
	&::-moz-focus-outer {
		border: 0;
	}
	&::-ms-track {
		height: 4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: transparent;
	}
	&::-ms-fill-upper {
		background: transparent;
	}
	&::-ms-thumb {
		pointer-events: auto;
		border: 4px solid $white;
		box-shadow: 0 0 3px 0 $gray-5;
		border-radius: 50%;
		z-index: 9;
		height: 14px;
		width: 14px;
		background: $green;
		cursor: pointer;
	}
	&:focus::-ms-fill-lower {
		background: transparent;
	}
	&:focus::-ms-fill-upper {
		background: transparent;
	}
}
