.arrow-btn {
	transition: color 0.3s;
	&.arrow-btn--l {
		font-size: 18px;
		.arrow-btn__icon {
			font-size: 15px;
			transform: translateY(1px);
		}
	}
	&.arrow-btn--m {
		font-size: 14px;
	}
	&.arrow-btn--s {
		font-size: 12px;
	}
	&.arrow-btn--main {
		@include text-hover($main-color);
	}
	&.arrow-btn--black {
		@include text-hover($default-color);
	}
	&.arrow-btn--white {
		color: $white;
		@include media('above-desktop') {
			&:hover {
				color: color($white blackness(16%));
			}
		}
	}
	&.arrow-btn--margin {
		@extend %last-no-margin;
		margin-bottom: 8px;
	}
	&.arrow-btn--xtr-margin-left {
		@include media('above-tablet') {
			margin-left: 8px;
		}
		@include media('below-tablet') {
			margin-top: 8px;
		}
	}
}

.arrow-btn__text {
	@extend %inline--middle;
	@extend %uppercase;
	margin-right: 8px;
	&.arrow-btn__text--bold {
		font-weight: $weight-b;
	}
}

.arrow-btn__icon {
	@extend %inline--middle;
	font-size: 8px;
}
