@mixin fill-btn($main, $sub) {
	color: $sub;
	border: 2px solid $main;
	background-color: $main;
	@include media('above-desktop') {
		&:hover {
			background-color: transparent;
		}
	}
}

.fill-btn {
	@include rec-btn(fill-btn);
	transition: all 0.3s;
	&.fill-btn--white {
		@include fill-btn($white, $main-color);
	}
	&.fill-btn--red {
		@include fill-btn($red, $white);
		@include media('above-desktop') {
			&:hover {
				color: $red;
			}
		}
	}
	&.fill-btn--light {
		@include fill-btn($gray-0, $gray-3);
	}
	&.fill-btn--main {
		@include fill-btn($main-color, $white);
		@include media('above-desktop') {
			&:hover {
				color: $main-color;
			}
		}
	}
	&.fill-btn--orange {
		color: $white;
		border: 2px solid $orange;
		background-color: $orange;
		@include media('above-desktop') {
			&:hover {
				color: $orange;
				background-color: transparent;
			}
		}
	}
	&.fill-btn--orange-light {
		color: $white;
		border: 2px solid $orange-light;
		background-color: $orange-light;
		@include media('above-desktop') {
			&:hover {
				color: $main-color;
				background-color: $white;
				border: 2px solid $white;
			}
		}
	}
	&.fill-btn--disable,
	&.btn--disable {
		border: 2px solid $blue-gray;
		background-color: $blue-gray;
		color: $white;
	}
	&.save-btn {
		margin-top: 18px;
	}
	&.fill-btn--margin-right {
		margin-right: 16px;
	}
}

.fill-btn-error {
	@extend %block;
	@extend %font-m-14;
	color: $red;
	margin-bottom: 8px;
}
