.switch-btn__text {
	@extend %inline--middle;
	@extend %uppercase;
	@extend %font-b-14;
	color: $gray-6;
	margin-right: 8px;
}

.switch-btn__block {
	@extend %inline--middle;
	padding: 4px;
	width: 54px;
	background-color: $gray-2;
	transition: background-color 0.3s;
	@include media('above-desktop') {
		&:hover {
			background-color: $gray-3;
		}
	}
	&.is-active {
		background-color: $main-color;
		.switch-btn__control {
			transform: translateX(100%);
		}
	}
}

.switch-btn__control {
	width: 23px;
	height: 23px;
	background-color: $white;
	transition: transform 0.3s;
	pointer-events: none;
}
