// font-family - font-weight - font-size
@mixin font($family, $weight, $size, $spacing: 0, $height: normal) {
	font-family: $family;
	font-weight: $weight;
	font-size: $size;
	letter-spacing: $spacing;
	line-height: $height;
}

.font-l-45,
%font-l-45 {
	font-weight: $weight-l;
	@include media('above-tablet') {
		font-size: 2.8125em;
	}
	@include media('below-tablet') {
		font-size: 1.65em;
	}
}

.font-m-32,
%font-m-32 {
	line-height: 1.3em;
	@include media('above-small') {
		font-size: 2em;
	}
	@include media('below-small') {
		font-size: 1.6em;
	}
}

.font-b-30,
%font-b-30 {
	font-weight: $weight-b;
	@include media('above-small') {
		font-size: 2em;
	}
	@include media('below-small') {
		font-size: 1.8em;
	}
	@include media('below-tablet') {
		font-size: 1.4em;
	}
}

.font-m-22,
%font-m-22 {
	@include media('above-tablet') {
		font-size: 1.375em;
	}
	@include media('below-tablet') {
		font-size: 1.2em;
	}
}

.font-b-22,
%font-b-22 {
	font-weight: $weight-b;
	@include media('above-tablet') {
		font-size: 1.375em;
	}
	@include media('below-tablet') {
		font-size: 1.2em;
	}
}

.font-m-20,
%font-m-20 {
	font-size: 1.25em;
	line-height: 1.4rem;
}

.font-b-20,
%font-b-20 {
	font-size: 1.25em;
	font-weight: $weight-b;
}

.font-m-18,
%font-m-18 {
	font-size: 1.125em;
}

.font-b-18,
%font-b-18 {
	font-weight: $weight-b;
	font-size: 1.125em;
}

.font-b-14,
%font-b-14 {
	font-weight: $weight-b;
	font-size: 0.875em;
	line-height: 1.3em;
}

.font-m-14,
%font-m-14 {
	font-size: 0.875em;
	line-height: 1.3em;
}

