.iframe-block {
	@extend %position-relative;
	@extend %block;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	iframe {
		@extend %position-absolute;
		@extend %full-width;
		@extend %full-height;
		top: 0;
		left: 0;
	}
}