.inline-title-block {
	@extend %lost-clear;
	@extend %last-no-margin;
	margin-bottom: 40px;
}

.inline-title-block__heading {
	font-size: 1.375em;
	lost-column: 3/10 2;
	@include media('below-tablet') {
		lost-column: 1/1;
		margin-bottom: 16px;
	}
}

.inline-title-block__container {
	lost-column: 7/10 2;
	@include media('below-tablet') {
		lost-column: 1/1;
	}
}


.inline-title-block__paragraph {
	@extend %last-no-margin;
	margin-bottom: 16px;
	color: $gray-6;
}

.inline-title-block__note {
	@extend %font-m-14;
	@extend %last-no-margin;
	margin-bottom: 16px;
	max-width: 365px;
	color: $gray-6;
}

.inline-title-block__buttons {
	text-align: left;
	@include media('below-mobile') {
		text-align: center;
	}

	.simple-icon-btn {
		@include media('above-tablet') {
			margin-left: 16px;
		}
	}
	.fill-btn,
	.border-btn {
		@include media('below-tablet') {
			width: 100%;
			margin-bottom: 16px;
			margin-left: 0;
		}
	}
}
