.inline-img-blocks {
	@extend %lost-clear;
	.inline-img-block {
		@include media('above-small') {
			&:nth-child(2n+1) {
				.inline-img-block__container {
					lost-move: 7/12 2 0;
				}
				.inline-img-block__img {
					lost-move: 0;
				}
			}
		}
	}
}

.inline-img-block {
	@extend %position-relative;
	@extend %lost-clear;
	@extend %last-no-margin;
	margin-bottom: 56px;
	@include media('below-tablet') {
		margin-bottom: 24px;
	}
}

.inline-img-block__img {
	@include media('above-small') {
		lost-column: 3/4 2 0;
		lost-move: 1/4 2 0;
	}
	@include media('below-small') {
		lost-column: 1/1;
		lost-move: 0;
	}

	&.inline-img-block__img--left {
		lost-move: 0;
	}
}

.inline-img-block__wrap {
	@extend %full-width;
	@extend %full-height;
	display: flex;
	align-items: center;
	@include media('above-small') {
		position: absolute;
	}
	@include media('below-small') {
		position: relative;
	}

	&.inline-img-block__wrap--right {
		justify-content: flex-end;
	}
}

.inline-img-block__container {
	background-color: $white;
	@include media('above-small') {
		lost-column: 5/12 2 0;
	}
	@include media('below-small') {
		lost-column: 1/1;
	}
	@include media('above-tablet') {
		padding: 32px;
	}
	@include media('below-tablet') {
		padding: 24px 16px;
	}
}

.inline-img-block__subheading {
	@extend %uppercase;
	font-weight: $weight-b;
	letter-spacing: 1px;
	color: $blue;
	margin-bottom: 16px;
}

.inline-img-block__heading {
    font-size: 1.5em;
    margin-bottom: 16px;
}

.inline-img-block__paragraph {
    @extend %last-no-margin;
    margin-bottom: 16px;
}
