.inline-arw-block {
	@extend %lost-clear
}

.inline-arw-block__heading {
	font-size: 1.75rem;
	color: #333333;
	lost-column: 3/10 2;
	@include media('below-tablet') {
		lost-column: 1/1;
		margin-bottom: 24px;
	}
}

.inline-arw-block__container {
	lost-column: 7/10 2;
	@include media('below-tablet') {
		lost-column: 1/1;
	}
}

.inline-arw-block__item {
	@extend %last-no-margin;
	margin-bottom: 24px;
	.arrow-btn__text {
		text-transform: none;
	}
}
