.product-bars {
  margin-bottom: 40px;
}

.product-bar {
  @extend %flex;
}

.product-bar--border {
  border: 1px solid $gray-1;
}

.product-bar__info {
  max-width: 70%;
}

.product-bar__link {
  @extend %flex-center;
  @extend %position-relative;
  justify-content: flex-start;
  padding: 8px 16px;
}

.product-bar__item {
  @extend %position-relative;
  height: 70px;
  width: 70px;
  margin-right: 32px;
}

.product-bar__img {
	@extend %background-cover;
	@extend %full-width;
	@extend %full-height;
	padding-top: 100%;
}

.product-bar__name {
  color: $gray-6;
  margin-bottom: 8px;
}

.product-bar__id {
	@extend %font-b-18;
}

.product-bar__icon {
  @extend %position-absolute;
  right: 24px;
}
