.tags-list-block {
	overflow-y: auto;
	height: 55vh;
	@include media('below-tablet') {
		height: 35vh;
	}
	.tag-btn {
		@extend %inline--middle;
		pointer-events: none;
	}
	.simple-icon-btn {
		margin-left: 8px;
		opacity: 0;
		transition: all 0.3s!important;
	}
}

.tags-list-block__item {
	@extend %last-no-margin;
	margin-bottom: 16px;
	&:hover {
		.simple-icon-btn {
			opacity: 1;
		}
	}
	&.is-active {
		.tags-list-block__front {
			display: none;
		}
		.tags-list-block__edit {
			display: flex;
		}
	}
	&.is-check-delete {
		.tags-list-block__front {
			padding-bottom: 80px;
		}
		.simple-icon-btn {
			opacity: 1;
			pointer-events: none;
		}
		.tags-list-block__bubble {
			display: block;
		}
	}
}



.tags-list-block__edit {
	display: none;
	align-items: center;
}

.tags-list-block__input {
	@extend %font-m-14;
	border: 1px solid $gray-2;
	padding: 4px 8px;
}

.tags-list-block__btn {
	@extend %flex-center;
	@include bg-hover($gray-0);
	flex-direction: column;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-left: 8px;
	i {
		font-size: 8px;
	}
	.icon-check-3 {
		color: $main-color;
	}
}

.tags-list-block__bubble-wrap {
	@extend %inline--middle;
	@extend %position-relative;
}

.tags-list-block__bubble {
	@extend %position-absolute;
	width: 135px;
	top: 30px;
	right: -16px;
	padding: 8px;
	box-shadow: 0 0 3px 0 $gray-3;
	display: none;
}

.tags-list-block__bubble-text {
	@extend %block;
	@extend %font-m-14;
	margin-bottom: 4px;
}

.tags-list-block__empty {
	@extend %text--center;
	@extend %font-m-32;
	font-weight: $weight-l;
	color: $gray-4;
}
