.ellipsis-accordion__block {
	@extend %lost-clear;
	margin-bottom: 32px;
	@include media('below-tablet') {
		display: flex;
		justify-content: space-between;
	}
}

.ellipsis-accordion__wrap {
	lost-column: 5/6;
	@include media('below-desktop') {
		lost-column: 6/7;
	}
	@include media('below-tablet') {
		flex-grow: 1;
		margin-right: 0!important;
	}
}

.ellipsis-accordion__heading {
	@extend %position-relative;
	@extend %font-b-20;
	margin-bottom: 16px;
	padding-left: 32px;
	@include media('below-tablet') {
		font-size: 1em;
		padding-left: 24px;
	}
	span {
		@extend %position-absolute;
		top: 0;
		left: 0;
		width: 32px;
	}
}

.ellipsis-accordion__paragraph {
	@extend %last-no-margin;
	margin-bottom: 8px;
	span {
		color: $orange;
	}
}

.ellipsis-accordion__btn-wrap {
	@extend %text--right;
	padding-top: 8px;
	lost-column: 1/6;
	@include media('below-desktop') {
		lost-column: 1/7;
	}
	@include media('below-tablet') {
		width: 48px;
	}
}

.ellipsis-accordion__trigger {
	@include text-hover($main-color);
	padding: 16px;
	&.is-active {
		transform: rotate(180deg);
	}
	i {
		@extend %block;
	}
}



.ellipsis-accordion__container {
	@extend %position-relative;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 32px;
	text-overflow: ellipsis;
	& > * {
		display: none;
		&:first-child {
			@extend %inlineblock;
		}
	}
	&.is-active {
		white-space: normal;
		& > * {
			display: block;
		}
	}
	.shadow-block {
		transform: translateX(-2px);
	}
}
