.tab-accordion__trigger {
	padding: 24px 0;
	transition: color 0.3s;
	&.is-active {
		.tab-accordion__trigger-icon {
			transform: rotate(180deg);
		}
	}
	@include media('above-desktop') {
		&:hover {
			color: $main-color;
		}
	}
	@include media('below-tablet') {
		padding: 16px 0;
		width: 100%;
	}
}

.tab-accordion__trigger-text {
	@extend %inline--middle;
	@extend %font-b-22;
	margin-right: 16px;
	@include media('below-tablet') {
		max-width: calc(100% - 35px);
	}
}

.tab-accordion__trigger-icon {
	@extend %inline--middle;
	font-size: 16px;
}

.tab-accordion__main {
	@extend %position-absolute;
	@extend %full-width;
	box-shadow: 0 3px 3px 0 rgba($black, 0.07);
	background-color: $white;
	z-index: 20;
	left: 0;
	display: none;
	max-height: calc(100vh - 104px);
	overflow-y: auto;
}

.tab-accordion__block {
	border-bottom: 1px solid $gray-1;
	padding: 16px 0;
	&:last-child {
		border-bottom: none;
	}
}

.tab-accordion__heading {
	@extend %inline--top;
	@extend %font-m-14;
	width: 135px;
	color: $gray-4;
	padding: 8px 0;
	@include media('below-tablet') {
		display: block;
		margin-bottom: 16px;
	}
}

.tab-accordion__list {
	@extend %inline--top;
	@include media('above-tablet') {
		width: calc(100% - 140px);
	}
}

.tab-accordion__item {
	@extend %inline--middle;
	margin-top: 8px;
	margin-right: 24px;
	&:last-child {
		margin-right: 0;
	}
}

.tab-accordion__btn {
	@extend %position-relative;
	padding-bottom: 8px;
	&.is-active {
		&:before {
			opacity: 1;
		}
	}
	@include media('above-desktop') {
		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
	&:before {
		@extend %position-absolute;
		@extend %full-width;
		content: '';
		position: absolute;
		bottom: 0;
		height: 3px;
		background-color: $main-color;
		opacity: 0;
		transition: opacity 0.3s;
	}
}
