.gradient-btn {
	@extend %inlineblock;
	@include rec-btn(gradient-btn);
	&.gradient-btn--main {
		@include bg-hover($main-color);
		color: $white;
	}
	&.gradient-btn--orange {
		@include bg-hover($orange);
		color: $white;
	}
	&.gradient-btn--orange-light {
		@include bg-hover($orange-light);
		color: $white;
	}
	&.gradient-btn--disable {
		background-color: $gray-2;
		color: $white;
	}
}

.gradient-btn__text {
	@extend %text--center;
}
