.modal {
	@extend %full-width;
	@extend %opacity-hidden;
	top: 0;
	left: 0;
	background-color: rgba($gray-1, 0.75);
	z-index: 400;
	&:not(.modal--ps) {
		@extend %position-fixed;
		@extend %flex-center;
		@extend %full-height;
		flex-direction: column;
	}
	&.is-active {
		.modal__container {
			transform: translateY(0);
		}
	}
	&.modal--ps {
		background-color: $white;
	}
	&.modal--video {
		background-color: rgba($black, 0.95);
		.modal__close {
			color: white;
		}
	}
}

.modal__video-container {
	@extend %position-relative;
	margin: 0 auto;
	padding: 0 16px;
	width: 72%;
	@include media('below-medium') {
		width: 960px;
	}
	@include media('below-small') {
		width: 100%;
	}
	.modal__container {
		overflow-y: hidden;
	}
}

.modal--ps {
	@extend %position-absolute;
	min-height: 100vh;
	.modal__wrap {
		overflow: visible;
	}
	.modal__close {
		top: 20px;
		right: 0;
	}
	.modal__container {
		max-height: none;
		box-shadow: none;
	}
	.modal__icon {
		font-size: 24px;
	}
}

.modal__wrap {
	@extend %position-relative;
}

.modal__container {
	@extend %position-relative;
	@extend %w-shadow-block;
	background-color: $white;
	transform: translateY(-16px);
	transition: transform 0.3s;
	max-height: 85vh;
	overflow-y: auto;
	@include media('below-tablet') {
		max-height: 75vh;
	}
}

.modal__container--big {
	padding: 96px 64px;
	@include media('below-tablet') {
		padding: 16px;
	}
	.modal__heading {
		padding: 0;
		margin-bottom: 24px;
		font-weight: $weight-l;
		@include media('below-tablet') {
			margin-bottom: 16px;
		}
	}
}

.modal__close {
	@extend %position-absolute;
	@extend %default-hover;
	padding: 8px;
	top: -45px;
	right: 0;
	z-index: 20;
}

.modal__icon {
	font-size: 20px;
}

.modal--wechat {
	.modal__container {
		@extend %align--center;
		max-width: 350px;
	}
}

.modal__heading-wrap {
	@extend %position-relative;
	padding: 32px 40px;
	.modal__heading {
		padding: 0;
		margin-bottom: 8px;
	}
	@include media('below-tablet') {
		padding: 32px 16px;
		padding-bottom: 0;
	}
}

.abs-btn {
	@extend %position-absolute;
	@include text-hover($main-color);
	top: 48px;
	right: 40px;
	@include media('below-desktop') {
		top: initial;
	}
	@include media('below-tablet') {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 40px;
	}
}

.modal__heading {
	@extend %font-m-32;
	padding: 32px 40px;
	@include media('below-mobile') {
		padding: 16px;
	}
	span {
		@extend %block;
		font-size: 24px;
		font-weight: $weight-b;
	}
	&.modal__heading--s {
		padding: 32px 40px 16px;
		font-size: 1.625em;
	}
}

.modal__subheading {
	@extend %font-m-20;
}

.modal__paragraph {
	@extend %last-no-margin;
	margin-bottom: 16px;
}

.modal__container-wrap {
	padding: 0 40px 32px;
	@include media('below-mobile') {
		padding: 16px;
	}

}

.modal__btm-container {
	border-top: 1px solid $gray-1;
	padding: 20px 32px;
}

.full-modal {
	@extend %position-fixed;
	@extend %full-width;
	@extend %full-view-height;
	overflow-y: auto;
	background-color: $white;
	z-index: 450;
	top: 0;
	left: 0;
	transform: translateY(100vh);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
	.hero-banner {
		align-items: center;
		&.hero-banner--s {
			height: 130px;
		}
	}
	&.is-active  {
		pointer-events: auto;
		opacity: 1;
		top: 0;
		transform: translateY(0);
	}
	.modal__container {
		transform: translateY(0);
	}
	.modal__close {
		top: 0;
		right: 40px;
		z-index: 20;
		color: $white;
	}
	&.share-contact-modal {
		.modal__close {
			@include text-hover($black);
			top: -20px;
			right: -55px;
			@include media('below-tablet') {
				top: -40px;
				right: 0;
			}
		}
	}
	.sent-cover {
		@extend %position-absolute;
		@extend %flex-center;
		@extend %full-width;
		@extend %full-height;
		flex-direction: column;
		top: 0;
		left: 0;
		background-color: rgba($white, 0.8);
		opacity: 0;
		pointer-events: none;
		&.is-active {
			opacity: 1;
			pointer-events: auto;
		}
		i {
			color: $main-color;
			font-size: 80px;
			margin-bottom: 24px;
		}
		span {
			font-weight: $weight-b;
			font-size: 1.875em;
		}
	}
	.module-block--gray {
		background-color: $white-light;
	}
	.shadow-block {
		margin-bottom: 0;
	}
	.product-single-block__side {
		@include media('above-tablet') {
			lost-column: 1/2 2 32px;
		}
	}
	.product-single-block__main {
		@include media('above-tablet') {
			lost-column: 1/2 2 32px;
		}
	}
}

.share-contact-modal {
	.contact-form__top label {
		margin-bottom: 0;
	}
}
