header {
	@extend %full-width;
	@extend %position-relative;
	color: inherit;
	background-color: $white;
	top: 0;
	left: 0;
	z-index: 300;
	transition: transform 0.3s;
	@include media('below-desktop') {
		padding: 0;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		.container {
			padding: 0;
		}
	}
	&:before {
		@extend %position-absolute;
		@extend %full-width;
		@extend %full-height;
		top: 0;
		left: 0;
		box-shadow: 0 0 8px 0 #cecece;
		content: '';
		pointer-events: none;
	}
}

.header__top {
	font-size: 12px;
	display: flex;
	justify-content: flex-end;
	padding: 8px 0;
	@include media('below-desktop') {
		display: none;
	}
}

.header__profile-link {
	@extend %position-relative;
	margin-left: 24px;
	padding: 0 8px;
	background-color: $white;
	@include media('above-desktop') {
		&:hover {
			.header__profile-sub {
				display: block;
			}
		}
	}
	.header__profile-heading {
		@extend %block;
		color: $main-color;
		margin-bottom: 8px;
		transform: translateY(1px);
	}
	.icon-arrow-down {
		font-size: 8px;
		margin-left: 2px;
		transition: opacity 0.3s;
	}
	.header__profile-sub {
		@extend %position-absolute;
		@extend %full-width;
		display: none;

		left: 0;
		padding-top: 25px;
		border: 1px solid $gray-2;
		transform: translateY(-24px);
		z-index: 20;
		@include media('above-desktop') {
			&:hover {
				opacity: 1;
			}
		}
	}
	ul {
		background-color: $white;
		padding: 0 8px 6px;
	}
	li {
		@extend %last-no-margin;
		margin-bottom: 8px;
		a,
		button {
			padding: 4px 0;
		}
	}
	a,
	button {
		@extend %position-relative;
		@extend %block;
		z-index: 2;
	}
}

.header__top-item {
	@extend %inline--middle;
	border-right: 1px solid rgba($main-color, 0.4);
	padding: 0 8px;
	transition: opacity 0.3s;
	&:last-child {
		border-right: none;
	}
	.search-active & {
		opacity: 0;
		pointer-events: none;
	}
}

.header__main {
	transition: transform 0.3s;
	@include media('above-desktop') {
		display: flex;
		align-items: center;
		justify-content: space-between
	}
	// .search-active & {
	// 	transform: translateY(-10px);
	// }
}

.header__logo {
	@extend %inline--middle;
	@include media('above-desktop') {
		transform: translateY(-4px);
		width: 177px;
	}
	@include media('below-desktop') {
		width: 140px;
	}
	@include media('below-tablet') {
		width: 100px;
	}
}

.header__list {
	@extend %text--center;
	flex-grow: 1;
	transition: opacity 0.45s;
	@include media('below-desktop') {
		display: none;
	}
	.search-active & {
		opacity: 0;
		pointer-events: none;
	}
}

.header__item {
	@extend %inline--middle;
	margin-right: 72px;
	&:last-child {
		margin-right: 0;
	}
	@include media('above-desktop') {
		&:hover {
			.header__link {
				color: $gray-6;
				&:before {
					height: 3px;
				}
			}
		}
	}
}

.header__link {
	@extend %position-relative;
	@extend %font-m-18;
	padding: 16px 0 24px;
	color: inherit;
	@include media('above-desktop') {
		&:hover {
			&:before {
				height: 3px;
			}
		}
	}
	&:before {
		@extend %position-absolute;
		@extend %full-width;
		height: 0;
		transition: height 0.3s;
		background-color: $main-color;
		left: 0;
		bottom: 0;
		content: '';
	}
}

.header__search-trigger {
	@extend %flex-center;
	@extend %position-relative;
	z-index: 10;
	transition: all 0.3s;
	float: right;
	@include media('above-desktop') {
		transform: translateY(-4px);
		background-color: $gray-1;
		border-radius: 50%;
		width: 38px;
		height: 38px;
		&:hover {
			background-color: $gray-2;
		}
		.search-active & {
			background-color: $gray-2;
		}
	}
	@include media('below-desktop') {
		padding: 16px;
	}
	// @include media('below-tablet') {
	// 	width: 30px;
	// 	height: 30px;
	// }
}

.search-input {
	@extend %full-width;
	@extend %full-height;
	@extend %font-m-20;
	background: white;
	padding: 8px 24px 8px 48px;
	@include media('below-tablet') {
		padding: 8px 16px 8px 28px;
		font-size: 1em;
	}
}

.search-input__line {
	@extend %position-absolute;
	width: calc(100% - 72px);
	height: 1px;
	background: $gray-1;
	left: 48px;
	bottom: 0;
	@include media('below-tablet') {
		left: 28px;
		width: calc(100% - 28px);
	}
}

.header__search {
	@extend %position-absolute;
	bottom: 14px;
	right: 60px;
	width: 0;
	transition: width 0.5s, opacity 0.5s;
	opacity: 0;
	pointer-events: none;
	@include media('below-desktop') {
		right: 75px;
		height: $header-mobile;
		bottom: 0;
	}
	@include media('below-tablet') {
		right: 70px;
	}
	.search-active & {
		width: calc(100% - 280px);
		opacity: 1;
		pointer-events: auto;
		@include media('below-desktop') {
			width: calc(100% - 275px);
		}
		@include media('below-tablet') {
			width: calc(100% - 75px);
		}
	}
	i {
		@extend %position-absolute;
		font-size: 20px;
		top: calc(50% - 10px);
		left: 15px;
		color: $gray-6;
		@include media('below-tablet') {
			left: 6px;
			font-size: 16px;
			top: calc(50% - 8px);
		}
	}
}

.header__mobile-menu {
	color: $main-color;
	padding: 16px;
	@include media('above-desktop') {
		display: none;
	}
	@include media('below-tablet') {
		font-size: 18px;
	}
	i {
		@extend %block;
		font-size: 18px;
	}
}

.header__search-result-block {
	@extend %position-absolute;
	width: calc(100% - 24px);
	top: 40px;
	right: 0;
	padding: 24px 24px 24px 12px;
	z-index: 1000;
	background: white;
	overflow-y: auto;
	@include media('below-desktop') {
		max-height: calc(100vh - #{$header-mobile});
		top: $header-mobile;
	}
	@include media('below-tablet') {
		width: 100vw;
		right: -70px;
		padding: 16px;
	}
}

.header__search-result-list {
	@extend %last-no-margin;
	@extend %font-m-18;
	@include text-hover($black);
	display: block;
	padding: 6px 12px;
	transition: all .3s;
	margin-bottom: 4px;
	line-height: 1.31em;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	@include media('below-tablet') {
		padding: 6px 0;
	}
	&:hover {
		background: $gray-0;
	}
}

.header__search-key-word {
	font-weight: $weight-b;
}

.header__search-category {
	margin-left: 8px;
	font-size: 0.75em;
	color: $gray-4;
}

.header__search-result-divided {
	height: 1px;
	background: $gray-1;
	margin: 16px 12px;
}

.header-search-card {
	@extend %last-no-margin;
	margin-bottom: 16px;
	padding: 12px;
}

.header-search-card--featured {
	border: 1px solid $gray-1;
}

.header-search-card__tag {
	color: $blue;
	font-weight: $weight-b;
	font-size: 0.75em;
	margin-bottom: 8px;
}

.header-search-card__heading {
	@include text-hover($black);
	margin-bottom: 8px;
}

.header-search-card__paragraph {
	@extend %font-m-14;
	color: $gray-6;
	line-height: 1em;
}

.header__search-icon {
	transition: color 0.3s;
	font-size: 20px;
	color: $gray-6;
	@include media('below-desktop') {
		color: $main-color;
		font-size: 18px;
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	background: $black;
	position: fixed;
	z-index: 100;
	top: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
	&.active {
		opacity: 0.75;
		pointer-events: auto;
	}
}


.header__mobile-bag {
	padding: 15px;
	background-color: $main-color;
	color: $white;
	float: right;
	@include media('above-desktop') {
		display: none;
	}
	i {
		@extend %block;
		font-size: 20px;
	}
}

.header__bag-note {
	@extend %position-absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $red;
	bottom: 14px;
	right: 14px;
}
