.basic-list__item {
	@extend %last-no-margin;
	@extend %font-m-14;
	margin-bottom: 8px;
}

.basic-list__heading {
	@extend %inline--middle;
	font-weight: $weight-b;
	width: 100px;
	@include media('below-tablet') {
		width: 80px;
	}
}

.basic-list__text {
	@extend %inline--middle;
	width: calc(100% - 105px);
	line-height: 1.4em;
	@include media('below-tablet') {
		width: calc(100% - 85px);
	}
	a {
		@extend %inline--middle;
	}
	i {
		@extend %block;
		@include text-hover($black);
		margin-left: 4px;
	}
}
