.i-list__item {
    @extend %last-no-margin;
    color: $gray-6;
    margin-bottom: 16px;
}

.i-list__icon {
    @extend %inline--top;
    font-size: 16px;
    margin-right: 8px;
    transform: translateY(3px);
}

.i-list__icon--green {
    color: $green;
}

.i-list__text {
		@extend %inline--top;
    width: calc(100% - 35px);
    line-height: 1.3em;
}
