.rss-list {
	margin-top: 24px;
}

.rss-list__item {
	border-bottom: 1px solid $gray-1;
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
}

.rss-list__heading {
	flex-grow: 1;
	padding-right: 8px;
}

.rss-list__btn {
	min-width: 132px;
	a {
		@extend %inline--middle;
		@extend %uppercase;
		margin-right: 16px;
	}
	img {
		@extend %inline--middle;
		width: 12px;
		height: 12px;
	}
}
