.title-list__category {
	border-bottom: 2px solid $gray-2;
	padding-bottom: 8px;
}

.title-list {
	@include media('above-tablet') {
		padding: 24px 0;
	}
}

.title-list__item {
	border-bottom: 1px solid $gray-0;
	padding: 8px 0;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.title-list__heading {
	@extend %inline--top;
	@include media('above-small') {
		width: 250px;
	}
	@include media('below-small') {
		width: 170px;
	}
	@include media('above-tablet') {
		margin-right: 24px;
	}
	@include media('below-tablet') {
		display: block;
		width: 100%;
		margin-bottom: 16px;
	}
}

.title-list__container {
	@extend %inline--top;
	@include media('above-small') {
		width: calc(100% - 280px);
	}
	@include media('below-small') {
		width: calc(100% - 200px);
	}
	@include media('below-tablet') {
		display: block;
		width: 100%;
	}
}



.title-list__subitem {
	@extend %last-no-margin;
	line-height: 1.3em;
	margin-bottom: 8px;
	&.title-list__subitem--bold {
		font-weight: $weight-b;
	}
}

.title-list__btn {
	@include text-hover($green);
	margin-left: 16px;
}
